    <div id="row-summary" class="row">
        <div id="summary-footer" class="col-md-9">
            <div class="row">
                <div id="colilla-div" class="col-md-2">
                    <div class="div-sum-text">
                        <span class="text-sum">COLILLA</span>
                        <br/>
                        <span class="text-sum">1AXA-0009876</span>
                    </div>
                </div>
                <div class="col-md-2 div-s-t">
                    <div class="div-sum-text">
                        <span class="text-sum">DÍA DEL SORTEO</span>
                        <br/>
                        <span class="text-sum">23/11/2020</span>
                    </div>
                </div>
                <div class="col-md-2 div-s-t">
                    <div class="div-sum-text">
                        <span class="text-sum">LOTERIAS</span>
                        <br/>
                        <span class="text-sum">0</span>
                    </div>
                </div>
                <div class="col-md-2 div-s-t">
                    <div class="div-sum-text">
                        <span class="text-sum">APOSTADO</span>
                        <br/>
                        <span class="text-sum">0</span>
                    </div>
                </div>
                <div class="col-md-2 div-s-t">
                    <div class="div-sum-text">
                        <span class="text-sum">IVA</span>
                        <br/>
                        <span class="text-sum">0</span>
                    </div>
                </div>
                <div class="col-md-2 div-s-t">
                    <div class="div-sum-text">
                        <span class="text-sum">TOTAL</span>
                        <br/>
                        <span class="text-sum">0</span>
                    </div>
                </div>
            </div>
        </div>
        <div id="summary-cart" class="col-md-3">
            <div class="row">
                <div class="col-md-6 flex-col">
                    <div id="cicleOne">
                        <img class="img-circle" src="../../../../../assets/img/svg/add-to-cart-l.svg" />
                    </div>
                </div>
                <div class="col-md-6 flex-col">
                    <div id="cicleTwo">
                        <img class="img-circle" src="../../../../../assets/img/svg/money-l.svg" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    
