#summary-footer{
    height: auto;
    background: transparent linear-gradient(90deg, #004C8B 0%, #068AF9 100%)
}

#summary-cart{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    height: 87px;
}

#row-summary{
    margin-right:auto !important;
    /* padding-top: 50px; */
}


#colilla-div{
    background: #B80019 0% 0% no-repeat padding-box;
    width: 130px;
    height: 87px;
    display: flex;
    float: left;
    padding-left: 12px;
}

#colilla-div:after{
    content: '';
    width: 0;
    height: 0;
    border-top: 43.5px solid transparent;
    border-bottom: 43.5px solid transparent;
    border-left: 29.5px solid #B80019;
    left: 130px;
    position: absolute;
    clear: both;
}


.text-sum{
    text-align: left;
    font: normal normal normal 13px/19px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.div-s-t{
    border-right: 1px solid #fff;
}
.div-sum-text{
    padding-top: 12px;
    padding-left: 20px;
}

.img-circle{
    display: block;
    margin: auto;
    padding-top: 12px;
    cursor: pointer;
}
#cicleOne{
    width: 100%;
    height: 105%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 5px;
    background: #2076BD;
}

#cicleTwo{
    width: 100%;
    height: 105%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 5px;
    background: #BE1E42;
}

.flex-col{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 14px;
}


.accciones-btn{
    text-align: center;
    font: normal normal 600 13px/16px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.ui-panel-title { 
    background: red;
}


.rowf{
    flex-wrap: unset;
}