
    <div class="container-fluid">
        <div class="row calendarRow">
            <div class="col-md-6">
                <label class="numeroserie">Número de serie {{numeroSerie}}</label><br>
            </div>
            <div class="col-md-6">
                <p class="clock-icon">
                    <label class="diaActual">{{ fechaActual | date: 'dd/MM/yyyy'}}</label>
                </p>
            </div>
        </div>
        <div class="row calendarRow">
            <div class="col-md-6">
                <label class="betDayDate">Seleccione el día del sorteo</label><br>
                <span 
                    class="badge badge-secondary chipOptionDay" 
                    *ngFor="let day of days"
                    [id]="day.name"
                    (click)="get_date_bet(day)">
                    {{day.text}}
                </span>
            </div>
            <div class="col-md-6 calendarDate" *ngIf="dayBet">
                <p class="calendar-icon">
                    <label class="dayBet">Día del sorteo {{ dayBet | date: 'dd/MM/yyyy'}}</label>
                </p>
            </div>
        </div>
    </div>


<div class="card">
    <div class="card-header titleBetCard">
        <a 
            data-toggle="collapse" 
            href="#collapse-example" 
            aria-expanded="true" 
            aria-controls="collapse-example" 
            id="heading-example" 
            class="d-block">
               Seleccione Loterias
            <i class="fa fa-chevron-down"></i>
            <button (click)="todas()" *ngIf="loterias && loterias.length > 0" style="margin-left: 10px" type="button" class="btn btn-random">
                TODAS
            </button>
        </a>
    </div>
    

    <div id="collapse-example" class="collapse show" aria-labelledby="heading-example">
        <div class="card-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2" class="colLot" *ngFor="let loteria of loterias">
                        <input type="checkbox" (click)="toggleVisibility(loteria)" [(ngModel)]="loteria.checked"/>
                        <label class="labelloteria">{{loteria.nombre}}</label>
                        <br>
                        <img class="loteriastamanio" [src]="loteria.url"/>
                    </div>
                </div>
            </div>
        </div>

        <hr>
    </div>
</div>

    <form [formGroup]="chanceForm">
    <div class="card">
        <div class="card-header titleBetCard">
        <a 
            data-toggle="collapse" 
            href="#collapse-example2" 
            aria-expanded="true" 
            aria-controls="collapse-example2" 
            id="heading-example2" 
            class="d-block">
               Juego
            <i class="fa fa-chevron-down"></i>
        </a>
    </div>
    

    <div id="collapse-example2" class="collapse show" aria-labelledby="heading-example2">
        <div class="card-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        <label class="titleInput" for="identificacion">Tipo Identificación</label>
                        <div class="form-group">
                            <select (change)="validExistClient()" formControlName="tipoDocumento" class="form-control typeIdentification">
                              <option value="CC">CC</option>
                              <option value="TI">TI</option>
                            </select>
                          </div>
                    </div>
                    <div class="col-md-4">
                        <label class="titleInput" for="identificacion">Identificación</label>
                        <div class="form-group has-feedback">
                            <i class="fa fa-user form-control-feedback"></i>
                            <input type="text" (keypress)="keyPressNumber($event)" (change)="validExistClient()" formControlName="numeroDocumento" class="form-control styleInput" placeholder="Cedula">
                        </div>
                    </div>
                
                    <div class="col-md-5 padColLable" *ngIf="enabledCustomer">
                        <div class="form-group has-feedback elemClient">
                            <i class="fa fa-check-square inputSuccess"></i>
                            <input type="text" class="form-control styleInputClient" formControlName="nombreCliente" placeholder="Cliente">
                        </div>
                    </div>
                </div>

               <br/>
               <hr>
                <div class="row">
                      <div class="col-md-3">
                        <label class="titleInput" for="aleatorio">JUEGO ALEATORIO</label>  
                        <div class="form-group has-feedback">    
                        <button  (click)="generar(3)" type="button" class="btn btn-random botonesApuesta">
                            GENERAR 3
                        </button>
                        </div>
                        <div class="form-group has-feedback">    
                            <button  (click)="generar(4)" type="button" class="btn btn-random botonesApuesta">
                             GENERAR 4
                            </button>
                            </div>
                        <div class="form-group has-feedback">
                        <button  (click)="limpiar()" type="button" class="btn btn-random botonesApuesta">
                            LIMPIAR <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </div>
                    </div>

                    <div class="col-md-4">
                        <label class="titleInput" for="aleatorio">NÚMERO A JUGAR</label>
                        <div class="form-group has-feedback" style="display: -webkit-box">
                            <input type="text" minlength="3" maxlength="4"
                             (keypress)="keyPressNumber($event)"  disabled formControlName="numeroA" 
                             class="form-control styleInput">
                        </div>
                    </div>
                    <div class="col-md-5 px-5">  
                        <label class="titleValores" for="aleatorio">SUPER CHANCE</label>
                        <div *ngFor="let enum of valoresModalidades">
                            <label for="valorApostado">
                              <input  [value]='enum' class="radioAzul" type="radio" name="valorApostado"
                              formControlName="valorApostado" >
                              {{enum}}
                            </label>
                          </div>
                        <button  (click)="validarLoterias()" type="button" class="btn btn-random botonesApuesta">
                            AGREGAR <i class="fa fa-plus" aria-hidden="true"></i>
                        </button>
                      
                    </div>
                </div>

                
                <hr>
            </div>
        </div>

    </div>
</div>


</form>







<p-dialog [(visible)]="displayModalCreate" [style]="{width: '464px'}">
    <app-crear-cliente 
        (closePopup)="closeModal($event)" 
        (createCustomer)="createCustomer($event)">
    </app-crear-cliente>
</p-dialog>
