.styleInput{
    width: 232px;
    height: 31px;
    background: #F2F2F2 0% 0% no-repeat padding-box;
    border-radius: 15px;
}

.typeIdentification{
    width: 144px;
    height: 31px;
    background: #F2F2F2 0% 0% no-repeat padding-box;
    border-radius: 15px;
}

.textoH{
    text-align: left;
    font: normal normal 600 15px Montserrat;
    letter-spacing: 0px;
    color: #333333;
}

.filaInfo{
    margin-top: 20px;
}


.textoCliente{
    text-align: left;
    font: normal normal 600 16px Montserrat;
    color: #333333;
    padding-left: 12px;
}


.actionsBt{
    text-align: center;
}

.btnActions{
    width: 134px;
    background: #F2F2F2 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 8px #149DB773;
    border-radius: 15px;
    color: black;
    margin-right: 25px;
}


.btnAceptar{
    width: 134px;
    background: #2076BD 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 8px #149DB773;
    border-radius: 15px;
    color: #ffffff;
}

.imgAccciones{
    width: 12px;
}

.filaAcciones{
    padding-top: 60px;
    padding-bottom: 30px;
}

.fa-check-circle-o{
    font-size: 20px;
}