  <form [formGroup]="clienteForm">
    <div class="container-fluid">
        <h1 class="titleCreate">CREAR CLIENTE</h1>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                  <select formControlName="tipoDocumento" class="form-control typeIdentification" id="exampleFormControlSelect1">
                    <option value="option">Tipo de documento</option>  
                    <option value="CC">Cédula</option>
                    <option value="TI">Tarjeta de identidad</option>
                  </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                  <input type="text" formControlName="numeroDocumento" (keypress)="keyPressNumber($event)"  class="form-control inputFormCreate" placeholder="Número de documento">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                  <input type="text" type="text" formControlName="primerNombre" (keypress)="keyPressChart($event)" class="form-control inputFormCreate" placeholder="Primer Nombre">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                  <input type="text" formControlName="segundoNombre" (keypress)="keyPressChart($event)" class="form-control inputFormCreate" placeholder="Segundo Nombre">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                  <input type="text" formControlName="primerApellido" (keypress)="keyPressChart($event)" class="form-control inputFormCreate" placeholder="Primer Apellido">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control inputFormCreate" (keypress)="keyPressChart($event)" formControlName="segundoApellido" placeholder="Segundo Apellido">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                  <input type="text" [ngClass]="{'alert-input': clienteForm.get('correo').errors?.email}" class="form-control inputFormCreate" formControlName="correo" placeholder="Correo electrónico">
                  <span class="alert-mail" *ngIf="clienteForm.get('correo').errors?.email">por favor ingrese un email valido</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                  <input type="text" [ngClass]="{'alert-input': !clienteForm.get('numeroCelular').valid}" class="form-control inputFormCreate" minlength="10" maxlength="10" (keypress)="keyPressNumber($event)" formControlName="numeroCelular" placeholder="Número celular">
                  <span class="alert-mail" *ngIf="!clienteForm.get('numeroCelular').valid">por favor ingrese un numero de celular correcto</span>
                </div>
            </div>
        </div>

        <div class="row float-right">
            <button type="button" (click)="closePopupE()" class="btn btn-outline-light btnActions">Cancelar</button>
            <button type="button" (click)="validCreateCustomerE()" class="btn btn-outline-light btnActions">Registrar</button>
        </div>
    </div>
