
    <div class="container-fluid">
      <div class="info-client">
        <form [formGroup]="clienteForm">
            <div class="row filaInfo">
                <div class="col-md-4">
                    <div class="form-group">
                      <label class="textoH">Tipo Identificación</label>
                        <select (change)="validExistClient()" formControlName="tipoDocumento" class="form-control typeIdentification">
                            <option value="" selected>Tipo</option>
                            <option value="CC">CC</option>
                            <option value="TI">TI</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label class="textoH">Identificación del Cliente</label>
                        <input (keypress)="permitirSoloNumeros($event)" (change)="validExistClient()" formControlName="numeroDocumento" type="text" class="form-control styleInput" placeholder="Identificación">
                    </div>
                </div>
            </div>

            <div class="row" *ngIf="enabledCustomer">
              <div class="col-md-12">
                <img class="img-aletorio"  src="../../../../../assets/img/svg/userv.svg" />
                <span class="textoCliente">{{ nombreCliente }}</span>
              </div>
            </div>
        </form>
      </div>


       

      <div class="row filaAcciones">
        <div class="col-md-12 actionsBt">
          <button type="button" (click)="closePopupE()" class="btn btnActions">
            Cancelar
            <img class="imgAccciones" src="../../../../../assets/img/svg/letter-x-x.svg" alt="" srcset="">
          </button>


          <button *ngIf="enabledCustomer" type="button" (click)="aceptarPopupE()" class="btn btnAceptar">
            Aceptar
            <i class="fa fa-check-circle-o" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
