    <div class="container">
        <div class="row boton-atras-fila">
            <div class="col-md-2">
                <button (click)="volverAtras()" type="button" class="btn btn-volver">
                    <i class="fa fa-reply" aria-hidden="true"></i> VOLVER
                </button>
            </div>
        </div>
        
        <div class="card">
            <div class="card-header">
                <h3 id="titulo-resumen">RESUMEN DE COMPRA</h3>
            </div>
    
    
            <div id="collapse-example2" class="collapse show">
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-2"><span class="titulo-resumen">COLILLA</span></div>
                            <div class="col-md-3"><span class="titulo-resumen">NÚMEROS</span></div>
                            <div class="col-md-3"><span class="titulo-resumen">LOTERIAS</span></div>
                            <div class="col-md-2"><span class="titulo-resumen">APOSTADO</span></div>
                        </div>
                        <div *ngFor="let productoChance of productosChance">
                            <div class="row">
                                <div class="col-md-2 div-icono-eliminar"><i (click)="borrarApuesta(productoChance._id)" class="fa fa-times-circle i-eliminar" aria-hidden="true"></i></div>
                                <div class="col-md-2"><span class="info-resumen">{{ productoChance.colilla }}</span></div>
                                <div class="col-md-3"><span class="info-resumen">{{ productoChance.listaNumeros }}</span></div>
                                <div class="col-md-3"><span class="info-resumen">{{ productoChance.loterias }}</span></div>
                                <div class="col-md-2"><span class="info-resumen">{{ productoChance.apostado }}</span></div>
                            </div>
                            <hr>
                        </div>

                
                    </div>


                    <div class="container" *ngIf="productosChance.length > 0">
                        <div class="row">
                            <div class="col-md-6 elemento-calculos-totales">
                                <div class="container espacios-contenedor">
                                    <div class="row">
                                        <div class="col-md-8 right-totales"><span>SUBTOTAL</span></div>
                                        <div class="col-md-4 right-totales"><span>${{subtotalGeneral}}</span></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8 right-totales"><span>IVA</span></div>
                                        <div class="col-md-4 right-totales"><span>${{ivaGeneral}}</span></div>
                                    </div>
                                    <div class="row espacio-total-devuelta">
                                        <div class="col-md-8 total-estilo"><span>TOTAL</span></div>
                                        <div class="col-md-4 total-estilo"><span>${{totalGeneral}}</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 elemento-calculos-totales">
                                <div class="container espacios-contenedor">
                                    <div class="row">
                                        <div class="col-md-4 left-totales"><span>EFECTIVO</span></div>
                                        <div class="col-md-8"><input type="text" [(ngModel)]="efectivo" (change)="calcularDevuelta()" class="form-control input-efectivo"></div>
                                    </div>
                                    <div class="row espacio-total-devuelta">
                                        <div class="col-md-4 devuelva-estilo"><span>DEVUELTA</span></div>
                                        <div class="col-md-8 devuelva-estilo"><span>${{devuelta}}</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">

                            </div>

                            <div class="col-md-6 btn-finalizar-col" *ngIf="verBotonFinalizar">
                                <button (click)="depurarInfo()" type="button" class="btn btn-finalizar">
                                    FINALIZAR
                                </button>
                            </div>
                        </div>
                        
                    </div>
                
                </div>
            </div>
        </div>
    </div>
    
