    <div class="container">
        <div class="row boton-atras-fila">
            <div class="col-md-2">
                <button (click)="volverAtras()" type="button" class="btn btn-volver">
                    <i class="fa fa-reply" aria-hidden="true"></i> VOLVER
                </button>
            </div>
        </div>
        
        <div class="card">
            <div class="card-header">
                <h3 id="titulo-resumen">RESUMEN DE COMPRA</h3>
            </div>
    
    
            <div id="collapse-example2" class="collapse show">
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-2"><span class="titulo-resumen">COLILLA</span></div>
                            <div class="col-md-3"><span class="titulo-resumen">NÚMEROS</span></div>
                            <div class="col-md-3"><span class="titulo-resumen">LOTERIAS</span></div>
                            <div class="col-md-2"><span class="titulo-resumen">APOSTADO</span></div>
                        </div>
                        <div>
                            <div class="row">
                                <div class="col-md-2 div-icono-eliminar"><i class="fa fa-times-circle i-eliminar" aria-hidden="true"></i></div>
                                <div class="col-md-2"><span class="info-resumen">1AXA-00009876</span></div>
                                <div class="col-md-3"><span class="info-resumen">0928, 0926, 876, 56, 8</span></div>
                                <div class="col-md-3"><span class="info-resumen">VALLE, MANIZ, DORMA, META, PLA4D</span></div>
                                <div class="col-md-2"><span class="info-resumen">$14.000</span></div>
                            </div>
                            <hr>
                        </div>

                        <div>
                            <div class="row">
                                <div class="col-md-2 div-icono-eliminar"><i class="fa fa-times-circle i-eliminar" aria-hidden="true"></i></div>
                                <div class="col-md-2"><span class="info-resumen">1AXA-00009876</span></div>
                                <div class="col-md-3"><span class="info-resumen">0928, 0926, 876, 56, 8</span></div>
                                <div class="col-md-3"><span class="info-resumen">VALLE, MANIZ, DORMA, META, PLA4D</span></div>
                                <div class="col-md-2"><span class="info-resumen">$14.000</span></div>
                            </div>
                            <hr>
                        </div>
                    </div>


                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 elemento-calculos-totales">
                                <div class="container espacios-contenedor">
                                    <div class="row">
                                        <div class="col-md-8 right-totales"><span>SUBTOTAL</span></div>
                                        <div class="col-md-4 right-totales"><span>$18.060</span></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8 right-totales"><span>IVA</span></div>
                                        <div class="col-md-4 right-totales"><span>$3.340</span></div>
                                    </div>
                                    <div class="row espacio-total-devuelta">
                                        <div class="col-md-8 total-estilo"><span>TOTAL</span></div>
                                        <div class="col-md-4 total-estilo"><span>$21.500</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 elemento-calculos-totales">
                                <div class="container espacios-contenedor">
                                    <div class="row">
                                        <div class="col-md-4 left-totales"><span>EFECTIVO</span></div>
                                        <div class="col-md-8"><input type="text" class="form-control input-efectivo"></div>
                                    </div>
                                    <div class="row espacio-total-devuelta">
                                        <div class="col-md-4 devuelva-estilo"><span>DEVUELTA</span></div>
                                        <div class="col-md-8 devuelva-estilo"><span>$28.500</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">

                        </div>
                        
                    </div>
                
                </div>
            </div>
        </div>
    </div>
    
