      
            <div class="container-fluid">
                <!-- ABRE SEMANARIO Y BOTONES HEADER -->
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <span class="hea-titles">Seleccione el día del sorteo</span>
                        <hr/>
                        <span 
                            class="badge badge-secondary chipOptionDay" 
                            *ngFor="let day of days"
                            [id]="day.name"
                            (click)="get_date_bet(day)">
                            {{day.text}}
                        </span>
                        <p-calendar
                            [locale]="lengEspanol"
                            [(ngModel)]="pCalendarioValor"
                            [inputStyle]="{'width':'142px', 'height':'40px', 'padding-left':'20px','background':'url(../../../../../assets/img/svg/calendar-blue.svg) 100px 3px no-repeat #ffff', 'box-shadow':'0px 3px 6px #149DB77A', 'border-radius':'25px'}"
                            (onSelect)="obtenerFechaCalendario(pCalendarioValor)"
                            class="calendar-control"
                            placeholder="Otro día"
                            showOn="button"
                            [readonlyInput]="true"
                            yearRange="2020:2021"
                            [monthNavigator]="true"
                            [yearNavigator]="true"
                            dateFormat="yy-mm-dd"
                            [showIcon]="false">
                        </p-calendar>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                        <span class="hea-titles">Juego Automático</span>
                        <hr/>
                        <img class="img-aletorio" (click)="aleatorioTresCifras()" src="../../../../../assets/img/svg/Grupo_299.svg" />
                        <img class="img-aletorio" (click)="aleatorioCuatroCifras()" src="../../../../../assets/img/svg/Grupo_300.svg" />
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                        <span class="hea-titles">Ultima Apuesta</span>
                        <hr/>
                        <button (click)="repetir()" type="button" class="btn btn-random">
                            REPETIR <i class="fa fa-repeat" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                        <button (click)="borrarTodo(1)" type="button" class="btn btn-random-red">
                            BORRAR TODO
                        </button>
                    </div>
                </div>
                <!-- / CIERRA SEMANARIO Y BOTONES HEADER -->
    
                <!-- ABRE SELECCION DE LOTERIAS Y NUMEROS QUE APUESTAN -->
                <div id="content-bet" class="row">
                    <div class="col-md-5" style="position: static;">
                        <span class="title-lot-bet">Loterias del día</span>
                        <div id="content-lot">
                            <div class="row select-all-a">
                                <div class="col-md-6"></div>
                                <div class="col-md-6" *ngIf="loterias.length > 0">
                                    <span (click)="cambioSeleccion(1)" class="title-lot-bet">Seleccionar todas</span>
                                    <p-inputSwitch (click)="cambioSeleccion(2)" [(ngModel)]="checked"></p-inputSwitch>
                                </div>
    
    
                                <div class="container-fluid">
                                    <div id="fila-loteiras" class="row">
                                        <div class="col-md-4" style="position: static;" *ngFor="let loteria of loterias">
                                            <!-- <p-checkbox (onChange)="toggleVisibility(loteria)" [formControl]="loteria.checked"></p-checkbox>
                                            <label class="labelloteria">{{loteria.nombreCorto}}</label> -->
                                            <input (mouseenter)="op1.toggle($event)" (mouseleave)="op1.toggle($event)" type="checkbox"(click)="toggleVisibility(loteria)" [(ngModel)]="loteria.checked"/>
                                            <label (mouseenter)="op1.toggle($event)" (mouseleave)="op1.toggle($event)" class="labelloteria" (click)="toggleVisibility(loteria)">{{loteria.nombreCorto}}</label>
                                            <p-overlayPanel #op1>
                                                <img [src]="loteria.url" style="width: 60px;" alt="Galleria 1" />
                                            </p-overlayPanel>
                                        </div>
                                    </div>
                                </div>
    
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-7">
                        <div class="row fls">
                            <div class="col-md-2"><span class="title-lot-bet">Número</span></div>
                            <div class="col-md-2"><span class="title-lot-bet">Directo</span></div>
                            <div class="col-md-2"><span class="title-lot-bet">Combinado</span></div>
                            <div class="col-md-2"><span class="title-lot-bet">2 Cifras</span></div>
                            <div class="col-md-2"><span class="title-lot-bet">1 Cifras</span></div>
                            <div class="col-md-2"></div>
                        </div>
                        <form [formGroup]="chanceForm"> 
                        <div class="row fls">
                            <div class="col-md-2"><input id="numeroFilaUno" autocomplete="off" formControlName="numeroFilaUno" type="text" maxlength="4"  (keypress)="permitirSoloNumeros($event)" (change)="habilitarDeshabilitarSegunCifras($event.target.value, 1)" class="input-bet"></div>
                            <div class="col-md-2"><input id="valorDirectoFilaUno" (blur)="transformAmount(1)" autocomplete="off" formControlName="valorDirectoFilaUno" (keypress)="permitirSoloNumeros($event)" (change)="emitirNumeros()" class="input-bet"></div>
                            <div class="col-md-2"><input id="combinadoFilaUno" (blur)="transformAmount(2)" autocomplete="off" formControlName="combinadoFilaUno" (keypress)="permitirSoloNumeros($event)" (change)="emitirNumeros()" class="input-bet"></div>
                            <div class="col-md-2"><input id="dosCifrasFilaUno" (blur)="transformAmount(3)" autocomplete="off" formControlName="dosCifrasFilaUno" (keypress)="permitirSoloNumeros($event)" (change)="emitirNumeros()" class="input-bet"></div>
                            <div class="col-md-2"><input id="unaCifraFilaUno" (blur)="transformAmount(4)" autocomplete="off" formControlName="unaCifraFilaUno" (keypress)="permitirSoloNumeros($event)" (change)="emitirNumeros()" class="input-bet"></div>
                            <div class="col-md-2"><i (click)="borrarFilaUno()"  class="fa fa-trash tras-del" aria-hidden="true"></i></div>
                        </div>
                        <div class="row fls">
                            <div class="col-md-2"><input id="numeroFilaDos" autocomplete="off" formControlName="numeroFilaDos" type="text" maxlength="4" (keypress)="permitirSoloNumeros($event)" (change)="habilitarDeshabilitarSegunCifras($event.target.value, 2)" class="input-bet"></div>
                            <div class="col-md-2"><input id="valorDirectoFilaDos" autocomplete="off" (blur)="transformAmount(5)" formControlName="valorDirectoFilaDos" (keypress)="permitirSoloNumeros($event)" (change)="emitirNumeros()" class="input-bet"></div>
                            <div class="col-md-2"><input id="combinadoFilaDos" autocomplete="off" (blur)="transformAmount(6)" formControlName="combinadoFilaDos" (keypress)="permitirSoloNumeros($event)" (change)="emitirNumeros()" class="input-bet"></div>
                            <div class="col-md-2"><input id="dosCifrasFilaDos" autocomplete="off" (blur)="transformAmount(7)" formControlName="dosCifrasFilaDos" (keypress)="permitirSoloNumeros($event)" (change)="emitirNumeros()" class="input-bet"></div>
                            <div class="col-md-2"><input id="unaCifraFilaDos" autocomplete="off" (blur)="transformAmount(8)" formControlName="unaCifraFilaDos" (keypress)="permitirSoloNumeros($event)" (change)="emitirNumeros()" class="input-bet"></div>
                            <div class="col-md-2"><i (click)="borrarFilaDos()" class="fa fa-trash tras-del" aria-hidden="true"></i></div>
                        </div>
                        <div class="row fls">
                            <div class="col-md-2"><input id="numeroFilaTres" autocomplete="off" formControlName="numeroFilaTres" type="text" maxlength="4"  (keypress)="permitirSoloNumeros($event)" (change)="habilitarDeshabilitarSegunCifras($event.target.value, 3)" class="input-bet"></div>
                            <div class="col-md-2"><input id="valorDirectoFilaTres" autocomplete="off" (blur)="transformAmount(9)" formControlName="valorDirectoFilaTres" (keypress)="permitirSoloNumeros($event)" (change)="emitirNumeros()" class="input-bet"></div>
                            <div class="col-md-2"><input id="combinadoFilaTres" autocomplete="off" (blur)="transformAmount(10)" formControlName="combinadoFilaTres" (keypress)="permitirSoloNumeros($event)" (change)="emitirNumeros()" class="input-bet"></div>
                            <div class="col-md-2"><input id="dosCifrasFilaTres" autocomplete="off" (blur)="transformAmount(11)" formControlName="dosCifrasFilaTres" (keypress)="permitirSoloNumeros($event)" (change)="emitirNumeros()" class="input-bet"></div>
                            <div class="col-md-2"><input id="unaCifraFilaTres" autocomplete="off" (blur)="transformAmount(12)" formControlName="unaCifraFilaTres" (keypress)="permitirSoloNumeros($event)" (change)="emitirNumeros()" class="input-bet"></div>
                            <div class="col-md-2"><i (click)="borrarFilaTres()" class="fa fa-trash tras-del" aria-hidden="true"></i></div>
                        </div>
                        <div class="row fls">
                            <div class="col-md-2"><input id="numeroFilaCuatro" autocomplete="off" formControlName="numeroFilaCuatro" type="text" maxlength="4" (keypress)="permitirSoloNumeros($event)" (change)="habilitarDeshabilitarSegunCifras($event.target.value, 4)" class="input-bet"></div>
                            <div class="col-md-2"><input id="valorDirectoFilaCuatro" autocomplete="off" (blur)="transformAmount(13)" formControlName="valorDirectoFilaCuatro" (keypress)="permitirSoloNumeros($event)" (change)="emitirNumeros()" class="input-bet"></div>
                            <div class="col-md-2"><input id="combinadoFilaCuatro" autocomplete="off" (blur)="transformAmount(14)" formControlName="combinadoFilaCuatro" (keypress)="permitirSoloNumeros($event)" (change)="emitirNumeros()" class="input-bet"></div>
                            <div class="col-md-2"><input id="dosCifrasFilaCuatro" autocomplete="off" (blur)="transformAmount(15)" formControlName="dosCifrasFilaCuatro" (keypress)="permitirSoloNumeros($event)" (change)="emitirNumeros()" class="input-bet"></div>
                            <div class="col-md-2"><input id="unaCifraFilaCuatro" autocomplete="off" (blur)="transformAmount(16)" formControlName="unaCifraFilaCuatro" (keypress)="permitirSoloNumeros($event)" (change)="emitirNumeros()" class="input-bet"></div>
                            <div class="col-md-2"><i (click)="borrarFilaCuatro()" class="fa fa-trash tras-del" aria-hidden="true"></i></div>
                        </div>
                        <div class="row fls">
                            <div class="col-md-2"><input id="numeroFilaCinco" autocomplete="off" formControlName="numeroFilaCinco" type="text" maxlength="4" (keypress)="permitirSoloNumeros($event)" (change)="habilitarDeshabilitarSegunCifras($event.target.value, 5)" class="input-bet"></div>
                            <div class="col-md-2"><input id="valorDirectoFilaCinco" autocomplete="off" (blur)="transformAmount(17)" formControlName="valorDirectoFilaCinco" (keypress)="permitirSoloNumeros($event)" (change)="emitirNumeros()" class="input-bet"></div>
                            <div class="col-md-2"><input id="combinadoFilaCinco" autocomplete="off" (blur)="transformAmount(18)" formControlName="combinadoFilaCinco" (keypress)="permitirSoloNumeros($event)" (change)="emitirNumeros()" class="input-bet"></div>
                            <div class="col-md-2"><input id="dosCifrasFilaCinco" autocomplete="off" (blur)="transformAmount(19)" formControlName="dosCifrasFilaCinco" (keypress)="permitirSoloNumeros($event)" (change)="emitirNumeros()" class="input-bet"></div>
                            <div class="col-md-2"><input id="unaCifraFilaCinco" autocomplete="off" (blur)="transformAmount(20)" formControlName="unaCifraFilaCinco" (keypress)="permitirSoloNumeros($event)" (change)="emitirNumeros()" class="input-bet"></div>
                            <div class="col-md-2"><i (click)="borrarFilaCinco()" class="fa fa-trash tras-del" aria-hidden="true"></i></div>
                        </div>
                        </form>
                    </div>
                </div>
                <!-- / CIERRA SELECCION DE LOTERIAS Y NUMEROS QUE APUESTAN -->
    
    
                <!-- ABRE INFO CLIENTE -->
                <div class="info-client">
                    <form [formGroup]="chanceForm">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <select (change)="validExistClient()" formControlName="tipoDocumento" class="form-control typeIdentification">
                                        <option value="" selected>Tipo</option>
                                        <option value="CC">CC</option>
                                        <option value="TI">TI</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <input (keypress)="permitirSoloNumeros($event)" (change)="validExistClient()" formControlName="numeroDocumento" type="text" class="form-control styleInput" placeholder="Identificación">
                                </div>
                            </div>
                            <div class="col-md-4" *ngIf="enabledCustomer">
                                <div class="form-group">
                                    <input [attr.disabled]="true" type="text" class="form-control styleInput" formControlName="nombreCliente" placeholder="Cliente">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- / CIERRA SELECCION DE LOTERIAS Y NUMEROS QUE APUESTAN -->
            </div>



        <p-dialog [(visible)]="displayModalCreate" [style]="{width: '464px'}">
            <app-crear-cliente 
                (closePopup)="closeModal($event)" 
                (createCustomer)="createCustomer($event)">
            </app-crear-cliente>
        </p-dialog>
        

    

    

