<nav class="navbar-nav-l" aria-label="breadcrumb">
  <div class="breadcrumb miga-pan">
    <i class="icon fa {{shellState.breadCrumb.icono}}"></i>
    <span class="miga-modulo">{{shellState.breadCrumb.modulo}}</span>
    <span class="miga-url">{{shellState.breadCrumb.url}}</span>

    <ul class="navbar-nav ml-auto nav-flex-icons inline-li">
      <li class="nav-item inline-li">
        <i class="fa fa-clock-o icon fecha-carrito"></i>
        <span class="fechaActual">{{ fechaActual }} {{horaActual | date: 'mediumTime'}}</span>
      </li>
      <span data-toggle="collapse" href="#collapseExample"  class="fa-stack fa-2x has-badge" [attr.data-count]="itemsCarrito">
        <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
        <i class="fa fa-shopping-cart fa-stack-2x red-cart"></i>
      </span>
    </ul>

  </div>
</nav>
<p-messages key="inf" [hideTransitionOptions]="'0ms'" styleClass="ui-messages">
</p-messages>
<p-messages key="msj" [hideTransitionOptions]="'0ms'" styleClass="ui-messages">
</p-messages>



