.miga-pan {
  padding: .79rem 1rem!important;
  margin-bottom: 0px;
  background-color: #fff;
  border-bottom: 1px solid #d0d0d0 !important;
  border-radius: .0rem !important;
  margin-top: 58px;
}

.miga-modulo {
  font-family: Montserrat !important;
  font-size: 13px;
  color: #999999;
  font-weight: bold;
  margin-right: 3px;
}

.miga-url {
  font-size: 13px;
  font-family: Montserrat !important;
  color: #999999;
  font-weight: bold;
}

.inline-li{
  display: inline-block;
}


#li-cart{
  padding-left: 40px;
}

.fechaActual{
  font-size: 13px;
  font-family: Montserrat !important;
  letter-spacing: 0px;
  color: #000000;
}

.chipItemsCart{
  border-radius: 30px !important;
  font-size: 14px;
  background-color: #BE1E42;
  font-family: Montserrat;
  color: #ffff;
  padding: 5px 5px 5px 5px;
}

.has-badge{
  cursor: pointer;
}

.fa-stack[data-count]:after{
  position:absolute;
  right:0%;
  top:0%;
  content: attr(data-count);
  font-size:37%;
  padding:.6em;
  border-radius:999px;
  line-height:.75em;
  color: white;
  text-align:center;
  min-width:2em;
  font-weight:bold;
  background: rgb(190, 30, 66);
}
.fa-circle {
  color:#DF0000;
}

.red-cart {
  color: #2076BD; 
  background:#f6f8f8;
}


.fa-stack-2x{
  font-size: 30px;
}

.fa-stack{
  height: 1em;
}

.infoCliente {
  margin-left: auto !important;
  width: 300px;
  height: 30px;
  background: #2076BD 0% 0% no-repeat padding-box;
  border-radius: 31px;
}

.fa-plus-circle {
  color: #ffff;
  font-size: 18px;
  padding: 6px;
  cursor: pointer;
}

.img-class{
  padding: 6px;
}


.text-cliente{
  font: normal normal 600 14px Montserrat;
  color: #FFFFFF;
}

.tras-del{
  color: red;
  font-size: 25px;
  cursor: pointer;
}

.icon {
  color: #0083fe;
  font-size: 20px;
  margin-right: 5px;
}
