.miga-pan {
  padding: .79rem 1rem!important;
  margin-bottom: 0px;
  background-color: #e8e8e8;
  border-bottom: 1px solid #d0d0d0 !important;
  border-radius: .0rem !important;
}

.miga-text {
  font-size: 15px;
  font-family: Times, Times New Roman, serif !important;
}
