<nav class="navbar-nav-l" aria-label="breadcrumb">
  <div class="breadcrumb miga-pan">
    <img *ngIf="verCarrito" style="padding-right: 15px;" src="../../../../../assets/img/svg/smart-cart-2.svg" alt="" srcset="">
    <i *ngIf="!verCarrito" class="icon fa {{shellState.breadCrumb.icono}}"></i>
    <span class="miga-modulo">{{shellState.breadCrumb.modulo}}</span>
    <span class="miga-url">{{shellState.breadCrumb.url}}</span>

    <div class="infoCliente" *ngIf="verCarrito">
      <img class="img-class" src="../../../../../assets/img/svg/userT.svg" />
      <span class="text-cliente" *ngIf="clienteOperacion && clienteOperacion.nombreCliente">{{clienteOperacion.nombreCliente}}</span>
      <span class="text-cliente" *ngIf="!clienteOperacion || !clienteOperacion.nombreCliente">Desconocido</span>
      <i class="fa fa-plus-circle float-right" *ngIf="!clienteOperacion || !clienteOperacion.nombreCliente" (click)="agregarCliente()" aria-hidden="true"></i>
    </div>
    <i class="fa fa-trash tras-del" aria-hidden="true" *ngIf="verCarrito && clienteOperacion && clienteOperacion.nombreCliente" (click)="eliminarCliente()"></i>
    <ul class="navbar-nav ml-auto nav-flex-icons inline-li" *ngIf="verCarrito">
      <li class="nav-item inline-li">
        <i class="fa fa-clock-o icon fecha-carrito"></i>
        <span class="fechaActual">{{ fechaActual }} {{ horaActual | date: 'mediumTime' }}</span>
      </li>
      <span data-toggle="collapse" href="#collapseExample"  class="fa-stack fa-2x has-badge" [attr.data-count]="itemsCarrito">
        <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
        <i class="fa fa-shopping-cart fa-stack-2x red-cart"></i>
      </span>
    </ul>

  </div>
</nav>
<p-messages key="inf" [hideTransitionOptions]="'0ms'" styleClass="ui-messages">
</p-messages>
<p-messages key="msj" [hideTransitionOptions]="'0ms'" styleClass="ui-messages">
</p-messages>



