<nav class="navbar-nav-l" aria-label="breadcrumb">
  <div class="breadcrumb miga-pan">
    <i class="icon fa {{shellState.breadCrumb.icono}}"></i>
    <span class="miga-modulo">{{shellState.breadCrumb.modulo}}</span>
    <span class="miga-url">{{shellState.breadCrumb.url}}</span>

    <ul class="navbar-nav ml-auto nav-flex-icons inline-li">
      <li class="nav-item inline-li">
        <i class="fa fa-clock-o icon fecha-carrito"></i>
        <!-- <span>02/04/2020 15:28:09</span> -->
        <span class="fechaActual">{{ fechaActual }} {{ horaActual }}</span>
      </li>
      <li 
        class="fa fa-shopping-cart icon carrito" 
        data-toggle="collapse" 
        href="#collapseExample" 
        role="button" 
        aria-expanded="false" 
        aria-controls="collapseExample"
        id="li-cart" class="nav-item inline-li">
        <i 
          class="fa fa-shopping-cart icon carrito" 
        >
        </i>
      </li>
    </ul>

  </div>
</nav>
<p-messages key="inf" [hideTransitionOptions]="'0ms'" styleClass="ui-messages">
</p-messages>
<p-messages key="msj" [hideTransitionOptions]="'0ms'" styleClass="ui-messages">
</p-messages>



<app-menu-carrito></app-menu-carrito>

