:host {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-grow: 1;
  position: relative;
}

:host(.content-menu) {
  display: inline-block;
  width: 241px;
  min-width: 241px;
  flex-grow: 0;
  background-image: linear-gradient(0deg, #0bc9ec, #0083fe);
  border-bottom: 0px !important;
  min-height: 100vh;
  height: 100%;
  font-family: Times, Times New Roman, serif !important;
  color: #ffffff;
  position: fixed;
  z-index: 1000;
  overflow-y: auto;
}

.logo {
  width: 130px;
  height: 90px;
}

.item {
  text-align: left;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
}

.item:hover, .submenu a:hover, .sub-menu:hover {
  background-image: linear-gradient(0deg, #12c0df, #0083fe);
}

.item-icon {
  font-size: 20px;
  margin-right: 5px;
}

.barra {
  background: #12c0df;
  padding: .1rem!important
}

.accordion {
  padding-left: 0px;
  width: 100%;
}

.accordion li i {
  transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
  right: 0.5rem;
  left: auto;
  position: absolute;
  top: 1rem;
  font-size: 14px;
}

.accordion .menu {
  text-align: left;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.4s ease;
  position: relative;
}

.accordion .menu:hover {
  background-image: linear-gradient(0deg, #12c0df, #0083fe);
  padding-left: 20px;
}

.rotate {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.submenu {
  overflow: hidden;
  font-size: 14px;
  transition: height 0.4s ease;
  padding-left: 0px;
}

.submenu a {
  display: block;
  text-decoration: none;
  padding: 10px;
  transition: all 0.25s ease-in-out;
  padding-left: 37px;
  font-size: 15.5px;
  cursor: pointer;
}

.accordion .sub-menu {
  text-align: left;
  padding: 10px;
  cursor: pointer;
  font-size: 15.5px;
  transition: all 0.4s ease;
  position: relative;
  padding-left: 37px;
}

.active-link {
  background-color: #1a8df8;
  cursor: auto !important;
  pointer-events: none;
}

.item-bottom {
  border-bottom: 1px solid #12c0df;
}

.st-item {
  color: #fff;
}

.st-sub-item {
  margin-left: 15px;
  color: #fff;
}

.item-route {
  overflow: hidden;
  padding-left: 0px;
  width: 100%;
}

.sub-icon {
  font-size: 12px;
  margin-right: 5px;
  color: #fff;
}

.sub-icon-wm {
  font-size: 12px;
  color: #fff;
  margin-right: 2px;
}

.sub-icon-wm2 {
  font-size: 12px;
  color: #fff;
}
