<div  >  
    <app-menu-carrito 
        [productoParent]="productoChanceMillonario"
        (editarProducto)="editarProducto($event)">
    </app-menu-carrito>
    <section>
        <app-apuesta-millonaria
            (agregarLoterias)="agregarLoterias($event)"
            (reiniciarEdit)="reiniciarEdit($event)"
            (agregarNumeros)="agregarNumeros($event)"
            (agregarCliente)="agregarCliente($event)">
        </app-apuesta-millonaria>
        <app-summary-footer
            [productoParent]="productoChanceMillonario"
            (borrarTodoReset)="borrarTodoReset($event)"
            (agregarProductos)="agregarProductos($event)">
        </app-summary-footer>
    </section>
    </div>