.cardBet{
    margin-bottom: 15px;
}

.titleBetCard{
    font-family: Montserrat;
    text-align: left;
    letter-spacing: 0px;
    color: #999999;
    opacity: 1;
    font-size: 18px;
}
.clock-icon{
  top: 204px;
  left: 631px;
  height: 25px;
  background: transparent url('../../../../../assets/img/svg/clock.svg') 0% 0% no-repeat padding-box;
  opacity: 1;
  padding-left: 35px;
  padding-top: 4p
}

.diaActual{
  text-align: left;
  font: Regular 13px/16px Montserrat;
  letter-spacing: 0px;
  color: #999999;
  opacity: 1;
  }
  

.numeroserie{
  text-align: left;
  font: Regular 13px/16px Montserrat;
  letter-spacing: 0px;
  color: #FF6969;
  opacity: 1;
  background-color: #fff;
  padding: 3px 10px;
  border-radius: 15px;
}

.numeroInterno{
  line-height: 16px;
  border-radius: 15px;
  height: 22px;
 width: 22px;
 font-size: 11px;
 top:unset;
 color: #0083FE;
}
.btn-random {
    border-radius: 15px;
    box-shadow: 0px 3px 8px #149DB773;
    background-image: linear-gradient(to bottom, #0083fe, #0bc9ec);
    font-size: 12px;
    padding: 0 .30rem 0 .6500rem;
    font-family: Montserrat;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.27;
    letter-spacing: normal;
    text-align: left;
    height: 31px;
    color: #ffffff;
}

.inner-addon {
    position: relative;
}
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}
.left-addon .glyphicon {
  left: 0px;
}
.right-addon .glyphicon {
  right: 0px;
}
.left-addon input {
  padding-left: 30px;
}
.right-addon input {
  padding-right: 30px;
}

.form-control-feedback {
  position: absolute;
  padding: 8px;
  pointer-events: none;
}


.inputSuccess{
  position: absolute;
  pointer-events: none;
  font-size: 25px;
  color: #0083fe;
}

.form-control {
  padding-left: 30px!important;
}

.labelloteria{
  text-align: left;
  font-family: Montserrat;
  font-size: 14px;
  letter-spacing: 0px;
  color: #58666E;
  opacity: 1;
  margin-left: 3px;
  top: -2px;
  position: relative;

}
.loteriastamanio{
  width: 70px;
    height: 60px;
}
.styleInput{
  top: 471px;
  left: 280px;
  height: 31px;
  background: #F2F2F2 0% 0% no-repeat padding-box;
  border-radius: 15px;
  opacity: 1;
  font-size: 15px;
}

.styleInputClient{
  top: 340px;
  left: 731px;
  height: 23px;
  background: #F2F2F2 0% 0% no-repeat padding-box;
  border-radius: 15px;
  opacity: 1;
  font-size: 14px;
}

.titleInput{
  font-family: Montserrat;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #333333;
}


.betDayDate{

  font-family: Montserrat;
  font-size: 9px;
  top: 163px;
  left: 252px;
  width: 244px;
  height: 22px;
  text-align: left;
  font-size: 18px;
  letter-spacing: 0px;
  color: #999999;
  opacity: 1;
}


.padColLable{
  padding-top: 25px;
}


.botonesApuesta{
  text-align: center !important;
width: 80% !important;
height: 31px  !important;
}
.aleatorio{
  line-height: 30px;
font-size: 20px;
color: #0083FE;
}

.chipOptionDay{
  border-radius: 30px !important;
  font-size: 24px;
  width: 44px;
  height: 44px;
  box-shadow: 0px 3px 8px #149DB77A;
  background-color: #ffffff;
  line-height: 32px;
  font-family: Montserrat;
  color: #0083fe;
  margin-right: 7px;
  cursor: pointer;
}

.calendarDate{
  margin-top: 35px;
}

.calendar-icon{
  top: 204px;
  left: 631px;
  height: 25px;
  background: transparent url('../../../../../assets/img/svg/calendar.svg') 0% 0% no-repeat padding-box;
  opacity: 1;
  padding-left: 35px;
  padding-top: 4p
}

.dayBet{
  text-align: left;
  font-size: 18px;
  font-family: Montserrat;
  letter-spacing: 0px;
  color: #999999;
  opacity: 1;
}

.calendarRow{
  margin-bottom: 20px;
}

.elemClient{
  padding-top: 4px;
}

.btnFour{
  margin-left: 15px;
}


#heading-example{
  top: 600px;
  left: 281px;
  font-size: 18px;
  height: 22px;
  text-align: left;
  font-family: Montserrat;
  letter-spacing: 0px;
  color: #999999;
  opacity: 1;
  text-decoration: none;
}


.imgLott{
  width: 50px;
  height: 50px;
  top: 663px;
  left: 432px;
  opacity: 1;
}

.colLot{
  padding-bottom: 20px;
  padding-left: 20px;
  font-size: 12px;
}

.typeIdentification{
  padding-left: 0 !important;
  height: 31px;
}


.element-actions-btns{
  margin-right: 0 !important;
  margin-left: 0 !important;
  margin-bottom: 10px !important;
  margin-right: 10px !important;
}


