  
        <div class="container-fluid">
            <div class="row calendarRow">
                <div class="col-md-6">
                    <label class="numeroserie">Número de serie {{numeroSerie}}</label><br>
                </div>
                <div class="col-md-6">
                    <p class="clock-icon">
                        <label class="diaActual">{{ fechaActual | date: 'dd/MM/yyyy HH:mm:ss'}}</label>
                    </p>
                </div>
            </div>
            <div class="row calendarRow">
                <div class="col-md-7">
                    <label class="betDayDate">Seleccione el día del sorteo</label><br>
                    <span 
                        class="badge badge-secondary chipOptionDay" 
                        *ngFor="let day of days"
                        [id]="day.name"
                        (click)="get_date_bet(day)">
                        {{day.text}}
                    </span>
                </div>
                <div class="col-md-5 calendarDate" *ngIf="dayBet">
                    <p class="calendar-icon">
                        <label class="dayBet">Día del sorteo {{ dayBet | date: 'dd/MM/yyyy'}}</label>
                    </p>
                </div>
            </div>
        </div>

    
        <form [formGroup]="chanceForm">
        <div class="card cardBet">
            <div class="card-header titleBetCard">Juego</div>
            <div class="card-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-5 padColLable">
                            <button (click)="getNumberThree()" type="button" class="btn btn-random">
                                ALEATORIO <span class="badge badge-light numeroInterno">3</span>
                            </button>
                            <button (click)="getNumberFour()" type="button" class="btn btn-random btnFour">
                                ALEATORIO <span class="badge badge-light numeroInterno">4</span>
                            </button>
                        </div>
                        <div class="col-md-3">
                            <label class="titleInput" for="identificacion">Tipo Identificación</label>
                            <div class="form-group">
                                <select (change)="validExistClient()" formControlName="tipoDocumento" class="form-control typeIdentification">
                                  <option value="CC">CC</option>
                                  <option value="TI">TI</option>
                                </select>
                              </div>
                        </div>
                        <div class="col-md-3">
                            <label class="titleInput" for="identificacion">Identificación</label>
                            <div class="form-group has-feedback">
                                <i class="fa fa-user form-control-feedback"></i>
                                <input type="text" (keypress)="keyPressNumber($event)" (change)="validExistClient()" formControlName="numeroDocumento" class="form-control styleInput" placeholder="Cedula">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 padColLable" *ngIf="enabledCustomer">
                            <div class="form-group has-feedback elemClient">
                                <i class="fa fa-check-square inputSuccess"></i>
                                <input type="text" class="form-control styleInputClient" formControlName="nombreCliente" placeholder="Cliente">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label class="titleInput" for="numero">Número</label>
                            <div class="form-group has-feedback">
                            <i class="fa fa-hashtag form-control-feedback" aria-hidden="true"></i>
                            <input type="text" maxlength="4" (keypress)="keyPressNumberChance($event)" (change)="chanceNumber($event.target.value)" class="form-control styleInput" formControlName="numero" placeholder="Número">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label class="titleInput" for="valorDirecto">Valor Directo</label>
                            <div class="form-group has-feedback">
                            <i class="fa fa-usd form-control-feedback" aria-hidden="true"></i>
                            <input type="text" (keypress)="keyPressNumber($event)"
                            (blur)="transformDirecto()"
                            value="{{currencyDirecto}}"
                             (change)="chanceNumber(chanceForm.get('numero'))" class="form-control styleInput" placeholder="Directo" formControlName="valorDirecto">
                            </div>
                        </div>
                        <div class="col-md-3" *ngIf="enabledCombined">
                            <label class="titleInput" for="combinado">Combinado</label>
                            <div class="form-group has-feedback">
                                <i class="fa fa-usd form-control-feedback" aria-hidden="true"></i>
                                <input type="text" (keypress)="keyPressNumber($event)" 
                                (blur)="transformCombinado()"
                                value="{{currencyCombinado}}" (change)="chanceNumber(chanceForm.get('numero'))" class="form-control styleInput" formControlName="combinado" placeholder="Combinado">
                            </div>
                        </div>
                        <div class="col-md-2" *ngIf="enabledThree">
                            <label class="titleInput" for="valorTres">Valor 3 cifras</label>
                            <div class="form-group has-feedback">
                            <i class="fa fa-usd form-control-feedback" aria-hidden="true"></i>
                            <input type="text" (keypress)="keyPressNumber($event)" 
                            (blur)="transform3()"
                            value="{{currency3}}" class="form-control styleInput" formControlName="tresCifras" placeholder="Valor">
                            </div>
                        </div>
                        <div class="col-md-2" *ngIf="enabledTwo">
                            <label class="titleInput" for="valorDos">Valor 2 cifras</label>
                            <div class="form-group has-feedback">
                            <i class="fa fa-usd form-control-feedback" aria-hidden="true"></i>
                            <input type="text"   (blur)="transform2()"
                            value="{{currency2}}" 
                            (keypress)="keyPressNumber($event)" class="form-control styleInput" formControlName="dosCifras" placeholder="Valor">
                            </div>
                        </div>
                        <div class="col-md-2" *ngIf="enabledOne">
                            <label class="titleInput" for="valorDos">Valor 1 cifra</label>
                            <div class="form-group has-feedback">
                            <i class="fa fa-usd form-control-feedback" aria-hidden="true"></i>
                            <input type="text"    (blur)="transform1()"
                            value="{{currency1}}"
                             (keypress)="keyPressNumber($event)" class="form-control styleInput" formControlName="unaCifra" placeholder="Valor">
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
                
            </div>
        </div>
    </form>



    <div class="card">
        <div class="card-header titleBetCard">
            <a 
                data-toggle="collapse" 
                href="#collapse-example" 
                aria-expanded="true" 
                aria-controls="collapse-example" 
                id="heading-example" 
                class="d-block">
                Seleccionar Loterias
                <i class="fa fa-chevron-down"></i>
            </a>
        </div>
        

        <div id="collapse-example" class="collapse show" aria-labelledby="heading-example">
            <div class="card-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-2" class="colLot" *ngFor="let loteria of loterias">
                            <input type="checkbox" (click)="toggleVisibility(loteria)" [(ngModel)]="loteria.checked"/>
                            <label  class="labelloteria">{{loteria.nombre}}</label>
                            <br>
                        <img  class="loteriastamanio"  [src]="loteria.url"/>
                        </div>
                    </div>
                </div>
            </div>

            <hr>
            <div class="row float-right element-actions-btns" *ngIf="dayBet">
                <button (click)="selectUnmarkAll()" *ngIf="!selectUnmarkAllBol" type="button" class="btn btn-random">
                    Seleccionar todas <i class="fa fa-plus" aria-hidden="true"></i>
                </button>

                <button (click)="selectUnmarkAll()" *ngIf="selectUnmarkAllBol" type="button" class="btn btn-random">
                    Desmarcar todas <i class="fa fa-plus" aria-hidden="true"></i>
                </button>

                <button *ngIf="btnAdd" (click)="addBetSend()" type="button" class="btn btn-random">
                    AGREGAR <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
                <button *ngIf="btnEdit" (click)="editBetSend()" type="button" class="btn btn-random">
                    ACTUALIZAR <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>



    

    <p-dialog [(visible)]="displayModalCreate" [style]="{width: '464px'}">
        <app-crear-cliente 
            (closePopup)="closeModal($event)" 
            (createCustomer)="createCustomer($event)">
        </app-crear-cliente>
    </p-dialog>
