<div class="container-fluid ">

    <div class="row" >
        <div class="col-md-2">
            <button type="button" (click)="verFiltros()" class="btn btn-block border border-dark">
                <label class="btn-size-admin">Ver filtros</label>
            </button>
        </div>

        <div class="col-md-8 input-group">
            <input type="text" class="form-control rounded-0" placeholder="Buscar">
            <span class="input-group-append">
                <button type="button" (click)="consultar()" class="btn btn-info btn-flat">
                    <label class="btn-size-admin"><i class="fa fa-search"></i></label>
                </button>
            </span>
        </div>
        <div class="col-md-2">
            <button type="button" (click)="crear()" class="btn btn-block btn-success">
                <label class="btn-size-admin"><i class="fa fa-plus-circle"></i>Crear Lotería</label>
            </button>
        </div>
    </div>


   

        <!-- footer -->
        <div class="text-center font-montse  font-size-14">
            <span>ADMIN </span>
            <i class="fa fa-copyright"></i>
            <span> 2020</span>
        </div>
    </div>