<div>  
    <app-menu-carrito 
        [productoParent]="productoSuperChance"
        (editarProducto)="editarProducto($event)">
    </app-menu-carrito>
    <section>
        <app-apuesta-super-astro
            (agregarLoterias)="agregarLoterias($event)"
            (reiniciarEdit)="reiniciarEdit($event)"
            (agregarNumeros)="agregarNumeros($event)"
            (agregarValores)="agregarValores($event)"
            (agregarModalidades)="agregarModalidades($event)"
            (agregarCliente)="agregarCliente($event)">
        </app-apuesta-super-astro>
        <app-summary-footer
            [productoParent]="productoSuperChance"
            (borrarTodoReset)="borrarTodoReset($event)"
            (agregarProductos)="agregarProductos($event)">
        </app-summary-footer>
    </section>
</div>