:host {
  display: block;
}

.header {
  flex-grow: 1;
  display: flex;
  background-color: #2076BD;
  position: fixed;
  z-index: 900;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.18);
}

.hambu {
  width: 64px;
  text-align: center;
  font-size: 24px;
  cursor: pointer;
  padding-top: 14px;
  height: 100%;
}

.hambu:hover, .pad:hover  {
  background-color: rgb(51, 137, 207);
}

.pad {
  text-align: center;
  cursor: pointer;
  line-height: 40px;
}

.back {
  height: 30px;
  width: 30px;
}

.rotation {
  transform: rotate(180deg) translateY(-0%);
  -webkit-transform: rotate(180deg) translateY(-0%);
  -ms-transform: rotate(180deg) translateY(-0%);
}

:host ::ng-deep #menuUserSettings .ui-menu {
  background-color: #2076BD;
  color: #eaeaea;
  width: 18em;
}

:host ::ng-deep #menuUserSettings .ui-menuitem-text {
  font: normal normal normal 15px/16px Montserrat;
  font-size: 14px;
  color: #ffffff
}
:host ::ng-deep #menuUserSettings .ui-menuitem-icon {
  color: #eaeaea;
}

:host ::ng-deep #menuUserSettings .ui-menu .ui-menuitem-link {
  text-align: left;
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

:host ::ng-deep #menuUserSettings .ui-menu .ui-menuitem-link:hover {
  background-image: linear-gradient(0deg, #12c0df, #0083fe);
}
