.title-page {
  font-family: Times, Times New Roman, serif !important;
  color: #00AECF;
  font-weight: 700 !important;
  font-size: 20px;
  letter-spacing: 0.4pt;
  word-spacing: 0.8pt;
  margin: 0px !important;
}

.min-height {
  min-height: 20px;
}
