<div class="container-fluid ">
  <img class="rounded mx-auto d-block" src="assets/harmony-logo.png" alt="logo">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card">
        <div class="card-header" style="background-color: #31404a;">
          <div class="row">
            <div class="col-md-12 text-center">
              <small style="color: white;font-size: 16px;font-weight: bold;">Acceso Denegado</small>
              <br>
              <small style="color: white;font-size: 12px;font-weight: bold;">No tienes privilegios para acceder a esta página</small>
            </div>
          </div>
        </div>
        <div class="card-body text-center">
          <br>
          <button type="button" style="font-size: 16px;" class="btn btn-primary btn-sm font-button" (click)="goHome()"> <i class="fa fa-home"> Regresar</i></button>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center">
    <small>ADMIN &copy; 2020</small>
  </div>
</div>
