<!-- pnl principal -->
<div class="ui-g">

  <!-- pnl - left -->
  <div class="ui-g-9 p-0">

    <!-- fecha actual -->
    <div class="ui-g-12 text-left pb-0 pt-0 pr-0 pl-0">
      <p class="clock-icon mb-0">
        <label class="hora">{{ fechaActual | date: "dd/MM/yyyy HH:mm:ss" }}</label>        
      </p>
    </div>
      
    <!-- pnl filtro -->
    <div class="ui-g-12 p-0 pb-1 pt-1">
      <div class="inner-addon left-addon">
        <i class="fa fa-search aico"></i>
        <input
          [(ngModel)]="filtro.nombre"
          type="text"
          maxlength="50"
          class="in-search"
          autocomplete="off"
          placeholder="Buscar lotería con sorteos disponibles"
          title="Filtro por el nombre de la lotería"/>
      </div>
      <button
        (click)="getLoteriasVirtual()"
        class="btn-light-dark btn-filter"
        type="button"
        title="Filtra las loterías con sorteos disponibles">
          <label class="btn-label"> Filtrar</label>
          <i class="fa fa-filter btn-icon pl-1"></i>
          <i *ngIf="hayFiltroAplicado" class="fa fa-asterisk font-size-9 pl-1"></i>
      </button>
    </div>

    <!-- loterias -->
    <div class="ui-g-12 p-0">
      
      <!-- carousel -->
      <div [ngClass]="{ 'd-none': !(loterias && loterias.length)}" class="ui-g-12 ml-2 mr-2">
        <p-carousel [value]="loterias" [numVisible]="carouselNroVisible">
          <ng-template let-loteria pTemplate="item">
  
            <!-- pnl-content -->
            <div (click)="seleccionarLoteria(loteria)" [ngClass]="{'selected' : (loteriaSeleccionada && loteriaSeleccionada.idSorteo === loteria.idSorteo)}" class="ui-g-12 content p-1">
  
              <!-- header -->
              <div [ngClass]="{'header-selected' : (loteriaSeleccionada && loteriaSeleccionada.idSorteo === loteria.idSorteo)}" class="ui-g-12 header elevation">
                <div class="ui-g-12 p-0">
                  <div class="position-absolute">
                    <img src="../../../../assets/img/loterias/RISARALDA.png" width="45" height="48">
                  </div>
                  <div class="ui-g-12 p-0 text-center pt-1">
                    <div class="ui-g-12 p-0">
                      <span class="lbl-title">{{loteria.nombreLoteria}}</span>
                    </div>
                    <div class="ui-g-12 p-0">
                      <span class="lbl-sub-title">Sorteo: {{loteria.numeroSorteo}}</span>
                    </div>                
                  </div>
                </div>
              </div>
  
              <!-- body -->
              <div class="ui-g-12 body elevation">
  
                <!-- fecha sorteo -->
                <div class="ui-g-12 p-0 pl-3 pr-3 pb-3">
                  <div class="position-absolute p-0 mt-1">
                    <span class="calendar-icon"></span>
                  </div>
                  <div class="ui-g-12 p-0 text-center">
                    <div class="ui-g-12 p-0">
                      <span class="lbl-date">Fecha Sorteo</span>
                    </div>
                    <div class="ui-g-12 p-0 text-center">
                      <span class="lbl-date-f">{{loteria.fechaSorteo | date:'dd-MMM-yyyy'}}</span>
                    </div>
                  </div>
                </div>
  
                <!-- premio mayor -->
                <div class="ui-g-12 p-0 pl-3 pr-3">
                  <div class="position-absolute p-0 mt-1">
                    <span class="money-icon"></span>
                  </div>
                  <div class="ui-g-12 p-0 text-center">
                    <div class="ui-g-12 p-0">
                      <span class="lbl-date">Premio Mayor</span>
                    </div>
                    <div class="ui-g-12 p-0">
                      <span class="lbl-date-f">{{loteria.premioMayor | currency}}</span>
                    </div>
                  </div>
                </div>            
              </div>
  
              <!-- footer -->
              <div class="ui-g-12 p-0 footer elevation">
                <div class="ui-g-12 p-0 text-center">
                  <div class="ui-g-12 p-0">
                    <span class="lbl-date">Valor Fracción</span>
                  </div>
                  <div class="ui-g-12 p-0">
                    <span class="footer-money">{{loteria.valorFraccion | currency}}</span>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>       
        </p-carousel>
      </div>

      <!-- no hay sorteos disponibles -->
      <ng-container *ngIf="!(loterias && loterias.length)">
        <div class="mr-2 ml-2 mt-2 mb-2 ui-messages ui-messages-info ui-corner-all p-2">
          <span class="ui-messages-icon pi pi-info-circle"></span>
          <span class="ui-messages-detail font-size-14 mt-1 lbl-date">
            <strong>No se encontraron LOTERÍAS</strong> con sorteos disponibles
          </span>
        </div>
      </ng-container>
    </div>

    <!-- panel juego -->
    <div class="ui-g-12">
      <div class="card mat-elevation-z8">

        <!-- header -->
        <div class="card-header">
          <div class="ui-g-11">
            <a data-toggle="collapse"
              href="#pnl-juego"
              aria-expanded="true"
              aria-controls="pnl-juego"
              class="d-block pnl-header">
              Juego
            </a>
          </div>
          <div class="ui-g-1 text-right">
            <a data-toggle="collapse"
              href="#pnl-juego"
              aria-expanded="true"
              aria-controls="pnl-juego"
              class="d-block pnl-header">
              <i class="fa fa-chevron-down"></i>
            </a>
          </div>
        </div>

        <!-- cuerpo -->
        <div id="pnl-juego" class="collapse show">
          <div class="card-body">
            
            <!-- tipo identificacion -->
            <div class="ui-g-6 p-0">
              <div class="ui-g-12 pb-0">
                <span class="lbl ml-0">Tipo Identificación</span>
              </div>
              <div class="ui-g-12 pt-0 pb-0">
                <p-dropdown
                  [(ngModel)]="cliente.tipoDocumento"
                  (onChange)="changeTipoNroDocumento()"
                  [options]="itemsTiposDocumentos"
                  inputId="tipoin"
                  name="tipoin"
                  title="Tipo Identificación"
                  styleClass="w-100 dropdown-app">
                </p-dropdown>
              </div>
            </div>

            <!-- nro identificacion -->
            <div class="ui-g-6 p-0">
              <div class="ui-g-12 pb-0">
                <span class="lbl ml-1">Identificación del Cliente</span>
              </div>
              <div class="ui-g-12 pt-0 pb-0">
                <div class="inner-addon left-addon-user">
                  <i class="fa fa-user aico clr"></i>
                  <input
                    [(ngModel)]="cliente.numeroDocumento"
                    (change)="changeTipoNroDocumento()"
                    class="input-app-sm w-100"
                    type="text"
                    pKeyFilter="pint"
                    title="Identificación del Cliente"/>
                </div>
              </div>
            </div>

            <!-- cliente -->
            <div class="ui-g-12 pb-0 pt-2 pr-2 pl-2">
              <ng-container *ngIf="cliente && cliente.idCliente">
                <div class="ui-g-12 p-0">
                  <i class="fa fa-check-circle icon-success"></i>
                  <div class="no-sorteos">{{ cliente.primerNombre }} {{ cliente.segundoNombre }} {{ cliente.primerApellido }} {{ cliente.segundoApellido }}</div>
                </div>
              </ng-container>
            </div>
            <div class="ui-g-12 barra pt-1"></div>

            <!-- Nro a jugar btns-->
            <div class="ui-g-12 p-0">
              <div class="ui-g-12 pb-0">
                <span class="lbl ml-1">Número a Jugar*</span>
              </div>
              <div class="ui-g-6 pt-0">
                <input
                  placeholder="Buscar lotería"
                  id="namefilter"
                  class="input-app-sm w-100"
                  type="text"
                  title="Filtro por el nombre de la lotería"/>
              </div> 
              <div class="ui-g-6 pt-0">
                <button
                  class="btn-light"
                  type="button"
                  title="Oculta el panel de filtros de búsqueda">
                  <label class="btn-label">CONSULTAR</label>
                  <i class="fa btn-icon fa-search pl-2"></i>
                </button>
                <button
                  class="btn-light ml-3"
                  type="button"
                  title="Oculta el panel de filtros de búsqueda">
                  <label class="btn-label">ALEATORIO</label>
                  <i class="fa btn-icon fa-random pl-2"></i>
                </button>
              </div>
            </div>

            <!-- serie -->
            <div class="ui-g-4 pt-3 pb-3 pl-0">
              <div class="ui-g-12 pb-0">
                <span class="lbl ml-1">Serie*</span>
              </div>
              <div class="ui-g-12 pt-0">
                <p-dropdown
                  inputId="loteriasin"
                  name="loteriasin"
                  placeholder="Seleccionar"
                  title="Lotería"
                  emptyFilterMessage="No hay Loterías"
                  styleClass="w-100 dropdown-app">
                </p-dropdown>
              </div>
            </div>

            <!-- fraccion -->
            <div class="ui-g-4 pt-3 pb-3">
              <div class="ui-g-12 pb-0">
                <span class="lbl">Fracción*</span>
              </div>
              <div class="ui-g-12 pt-0">
                <p-dropdown
                  inputId="loteriasin"
                  name="loteriasin"
                  placeholder="Seleccionar"
                  title="Lotería"
                  emptyFilterMessage="No hay Loterías"
                  styleClass="w-100 dropdown-app">
                </p-dropdown>
              </div>
            </div>          

            <!-- btn agregar -->
            <div class="ui-g-4 pr-0 pt-3 pb-3 text-right">
              <div class="ui-g-12 pb-0">
                <span class="ml-1"></span>
              </div>
              <div class="ui-g-12 pt-0">
                <button
                (click)="agregarLoteria()"
                class="btn-light"
                type="button"
                title="Oculta el panel de filtros de búsqueda">
                  <label class="btn-label">AGREGAR</label>
                  <i class="fa btn-icon fa-plus-circle font-size-18 pl-2"></i>
                </button>
              </div>
            </div>
          </div>
        </div> 
      </div>
    </div>
  </div>

  <!-- pnl - right -->
  <div class="ui-g-3 pr-0 pt-0">

    <!-- pnl loterias agregadas -->
    <div class="ui-g-12 p-0 pnloteries-right">
      <ng-container *ngIf="loteriasAgregadas && loteriasAgregadas.length">
        <ng-container *ngFor="let loteria of loteriasAgregadas; let i = index">
          <div class="ui-g-12 p-0 pnl-loterias mb-2">
            <div class="ui-g-10 p-0 pnl-separator height-100">
              <div class="ui-g-12 p-0">
                <div class="ui-g-6 p-0 p-left">
                  <span class="nro-sorteo pr-2">Número: 3242</span>
                </div>
                <div class="ui-g-6 p-0 text-center">
                  <span class="nro-serie">Serie: 12</span>
                </div> 
                <div class="ui-g-12 p-0 p-left text-left">
                  <span class="lbl-loteria">Lotería: Manizales</span>
                </div>
                <div class="ui-g-12 p-0 p-left text-left pb-2">
                  <div class="ui-g-4 p-0">
                    <span class="lbl-loteria">Fracción:</span>
                  </div>
                  <div class="ui-g-8 p-0 text-center">
                    <span class="pnl-fraccion mb-1">1</span>
                  </div>
                </div>
                <div class="ui-g-12 p-0 p-left text-center">
                  <span class="nro-serie">Valor: $12.000</span>
                </div>           
              </div>
            </div>
            <div class="ui-g-2 p-0 text-center vertical-center">
              <i class="pi pi-pencil btn-edit-played"></i>
              <i class="pi pi-trash btn-remove-played"></i>
            </div>
          </div>
          <div class="ui-g-12 p-0 pnl-loterias mb-2">
            <div class="ui-g-10 p-0 pnl-separator height-100">
              <div class="ui-g-12 p-0">
                <div class="ui-g-6 p-0 p-left">
                  <span class="nro-sorteo pr-2">Número: 3242</span>
                </div>
                <div class="ui-g-6 p-0 text-center">
                  <span class="nro-serie">Serie: 12</span>
                </div> 
                <div class="ui-g-12 p-0 p-left text-left">
                  <span class="lbl-loteria">Lotería: Manizales</span>
                </div>
                <div class="ui-g-12 p-0 p-left text-left pb-2">
                  <div class="ui-g-4 p-0">
                    <span class="lbl-loteria">Fracción:</span>
                  </div>
                  <div class="ui-g-8 p-0 text-center">
                    <span class="pnl-fraccion mb-1">1</span>
                    <span class="pnl-fraccion mb-1">3</span>
                    <span class="pnl-fraccion mb-1">4</span>
                    <span class="pnl-fraccion">Todo el billete</span>
                  </div>
                </div>
                <div class="ui-g-12 p-0 p-left text-center">
                  <span class="nro-serie">Valor: $12.000</span>
                </div>           
              </div>
            </div>
            <div class="ui-g-2 p-0 text-center vertical-center">
              <i class="pi pi-pencil btn-edit-played"></i>
              <i class="pi pi-trash btn-remove-played"></i>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>

    <!-- pnl pagar -->
    <div class="ui-g-12 p-0 pnl-right">
      <div class="ui-g-12 p-0 sub-pnl-right">

        <!-- apostado -->
        <div class="ui-g-6 p-0 mt-3 text-center spr">
          <div class="ui-g-12 p-0">
            <span class="lbl-pay">Apostado</span>
          </div>
          <div class="ui-g-12 p-0 text-center">
            <span class="lbl-value">$ 35,0000</span>
          </div>
        </div>

        <!-- iva -->
        <div class="ui-g-6 p-0 mt-3 text-center">
          <div class="ui-g-12 p-0">
            <span class="lbl-pay">IVA</span>
          </div>
          <div class="ui-g-12 p-0 text-center">
            <span class="lbl-value">$ 25,0000</span>
          </div>
        </div>

        <!-- total -->
        <div class="ui-g-12 p-0 text-center pt-4 pb-4">
          <span class="lbl-total pr-2">Total</span>
          <span class="lbl-total">$ 15,0000</span>
        </div>
        
        <!-- btn pagar -->
        <div class="ui-g-12 p-0 pt-4">
          <button
           class="btn-light-dark btn-pagar w-100"
           type="button"
           title="Permite regresar a la lista de roles">
            <div class="ui-g-11 p-0 text-center">
              <label class="btn-label-pagar pl-1">PAGAR</label>
            </div>
            <div class="ui-g-1 p-0 text-right">
              <i class="fa fa-chevron-circle-right btn-icon-pagar font-size-24"></i>
            </div>
          </button>
        </div>        
      </div>
    </div>
  </div>
</div>

<!-- modal creacion cliente -->
<p-dialog [(visible)]="showModalCrearCliente" [style]="{width: '464px'}">
  <app-crear-cliente 
      (closePopup)="closeModal($event)" 
      (createCustomer)="createCustomer($event)">
  </app-crear-cliente>
</p-dialog>