<!-- pnl principal -->
<div class="ui-g">

  <!-- pnl - left -->
  <div class="ui-g-9 p-0">

    <!-- fecha actual -->
    <div class="ui-g-12 text-left pb-0 pt-0 pr-0 pl-0">
      <p class="clock-icon mb-0">
        <label class="hora">{{ fechaActual | date: "dd/MM/yyyy HH:mm:ss" }}</label>        
      </p>
    </div>
      
    <!-- pnl filtro -->
    <div class="ui-g-12 p-0 pb-1 pt-1">

      <div class="ui-g-10 p-0">
        <div class="inner-addon left-addon">
          <i class="fa fa-search aico"></i>
          <input
            [(ngModel)]="filtro.nombre"
            type="text"
            maxlength="50"
            class="in-search"
            autocomplete="off"
            placeholder="Buscar loterías con sorteos disponibles"
            title="Filtro por el nombre de la lotería"/>
        </div>
      </div>
      <div class="ui-g-2 p-0 text-left pt-1 pl-2">
        <button
          (click)="getLoteriasVirtual()"
          class="btn-light-dark"
          type="button"
          title="Filtra los sorteos disponibles para la venta">
          <i *ngIf="hayFiltroAplicado" class="fa fa-asterisk font-size-9 pr-1"></i>
          <label class="btn-label"> Filtrar</label>          
          <i class="fa fa-filter btn-icon pl-1"></i>
        </button>
      </div>
    </div>

    <!-- loterias -->
    <div class="ui-g-12 p-0">
      
      <!-- carousel -->
      <div [ngClass]="{ 'd-none': !(sorteos && sorteos.length)}" class="ui-g-12 ml-2 mr-2">
        <p-carousel [value]="sorteos" [numVisible]="carouselNroVisible">
          <ng-template let-sorteo pTemplate="item">
  
            <!-- pnl-content -->
            <div (click)="seleccionarSorteo(sorteo)" [ngClass]="{'selected' : (sorteoSeleccionado && sorteoSeleccionado.idSorteo === sorteo.idSorteo)}" class="ui-g-12 content p-1">
  
              <!-- header -->
              <div [ngClass]="{'header-selected' : (sorteoSeleccionado && sorteoSeleccionado.idSorteo === sorteo.idSorteo)}" class="ui-g-12 header elevation">
                <div class="ui-g-12 p-0">
                  <div class="position-absolute">
                    <img src="{{sorteo.imagenLoteria}}" width="45" height="48" alt="not working">
                  </div>
                  <div class="ui-g-12 p-0 text-center pt-1">
                    <div class="ui-g-12 p-0">
                      <span class="lbl-title">{{sorteo.nombreLoteria}}</span>
                    </div>
                    <div class="ui-g-12 p-0">
                      <span class="lbl-sub-title">Sorteo: {{sorteo.numeroSorteo}}</span>
                    </div>                
                  </div>
                </div>
              </div>
  
              <!-- body -->
              <div class="ui-g-12 body elevation">
  
                <!-- fecha sorteo -->
                <div class="ui-g-12 p-0 pl-3 pr-3 pb-3">
                  <div class="position-absolute p-0 mt-1">
                    <span class="calendar-icon"></span>
                  </div>
                  <div class="ui-g-12 p-0 text-center">
                    <div class="ui-g-12 p-0">
                      <span class="lbl-date">Fecha Sorteo</span>
                    </div>
                    <div class="ui-g-12 p-0 text-center">
                      <span class="lbl-date-f">{{sorteo.fechaSorteo | date:'dd-MMM-yyyy'}}</span>
                    </div>
                  </div>
                </div>
  
                <!-- premio mayor -->
                <div class="ui-g-12 p-0 pl-3 pr-3">
                  <div class="position-absolute p-0 mt-1">
                    <span class="money-icon"></span>
                  </div>
                  <div class="ui-g-12 p-0 text-center">
                    <div class="ui-g-12 p-0">
                      <span class="lbl-date">Premio Mayor</span>
                    </div>
                    <div class="ui-g-12 p-0">
                      <span class="lbl-date-f">{{sorteo.premioMayor | currency}}</span>
                    </div>
                  </div>
                </div>            
              </div>
  
              <!-- footer -->
              <div class="ui-g-12 p-0 footer elevation">
                <div class="ui-g-12 p-0 text-center">
                  <div class="ui-g-12 p-0">
                    <span class="lbl-date">Valor Fracción</span>
                  </div>
                  <div class="ui-g-12 p-0">
                    <span [class]="(sorteoSeleccionado && sorteoSeleccionado.idSorteo === sorteo.idSorteo) ? 'clr-selected' : 'footer-money'">{{sorteo.valorFraccion | currency}}</span>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>       
        </p-carousel>
      </div>

      <!-- no hay sorteos disponibles -->
      <ng-container *ngIf="!(sorteos && sorteos.length)">
        <div class="mr-2 ml-2 mt-2 mb-2 ui-messages ui-messages-info ui-corner-all p-2">
          <span class="ui-messages-icon pi pi-info-circle"></span>
          <span class="ui-messages-detail font-size-14 mt-1 lbl-date">
            <strong>No se encontraron LOTERÍAS</strong> con sorteos disponibles
          </span>
        </div>
      </ng-container>
    </div>

    <!-- panel juego -->
    <div class="ui-g-12">
      <div class="card mat-elevation-z8">

        <!-- header -->
        <div class="card-header">
          <div class="ui-g-11">
            <a data-toggle="collapse"
              href="#pnl-juego"
              aria-expanded="true"
              aria-controls="pnl-juego"
              class="d-block pnl-header">
              Juego
            </a>
          </div>
          <div class="ui-g-1 text-right">
            <a data-toggle="collapse"
              href="#pnl-juego"
              aria-expanded="true"
              aria-controls="pnl-juego"
              class="d-block pnl-header">
              <i class="fa fa-chevron-down"></i>
            </a>
          </div>
        </div>

        <!-- cuerpo -->
        <div id="pnl-juego" class="collapse show">
          <div class="card-body">
            
            <!-- tipo identificacion -->
            <div class="ui-g-6 p-0">
              <div class="ui-g-12 pb-0">
                <label for="tipoin" class="lbl ml-0 mb-0">Tipo de Identificación</label>
              </div>
              <div class="ui-g-12 pt-0 pb-0">
                <p-dropdown
                  [(ngModel)]="cliente.tipoDocumento"
                  (onChange)="changeTipoNroDocumento()"
                  [options]="itemsTiposDocumentos"
                  inputId="tipoin"
                  name="tipoin"
                  title="Tipo de Identificación"
                  styleClass="w-100 dropdown-app">
                </p-dropdown>
              </div>
            </div>

            <!-- nro identificacion -->
            <div class="ui-g-6 p-0">
              <div class="ui-g-12 pb-0">
                <label for="nrodocu" class="lbl ml-1 mb-0">Identificación del Cliente</label>
              </div>
              <div class="ui-g-12 pt-0 pb-0">
                <div class="inner-addon left-addon-user">
                  <i class="fa fa-user aico clr"></i>
                  <input
                    id="nrodocu"
                    [(ngModel)]="cliente.numeroDocumento"
                    (change)="changeTipoNroDocumento()"
                    class="input-app-sm w-100"
                    type="text"
                    pKeyFilter="pint"
                    title="Identificación del Cliente"/>
                </div>
              </div>
            </div>

            <!-- cliente -->
            <div class="ui-g-12 pb-0 pt-2 pr-2 pl-2">
              <ng-container *ngIf="cliente && cliente.idCliente">
                <div class="ui-g-12 p-0">
                  <i class="fa fa-check-circle icon-success"></i>
                  <div class="no-sorteos">{{ cliente.primerNombre }} {{ cliente.segundoNombre }} {{ cliente.primerApellido }} {{ cliente.segundoApellido }}</div>
                </div>
              </ng-container>
            </div>
            <div class="ui-g-12 barra pt-1"></div>

            <!-- serie-nro-btns-->
            <div class="ui-g-12 p-0">

              <!-- serie -->
              <div class="ui-g-3 p-0">
                <div class="ui-g-12 pb-0">
                  <label for="seriein" class="lbl ml-1 mb-0">Serie*</label>
                  <label *ngIf="sorteoSeleccionado" for="seriein" class="nro-serie ml-1 mb-0">{{sorteoSeleccionado.rangoSerie}}</label>
                </div>
                <div class="ui-g-12 pt-0">
                  <input
                    [(ngModel)]="detalleVenta.serie"
                    (change)="changeSerieNumero()"
                    id="seriein"
                    class="input-app-sm w-100"
                    type="text"
                    maxlength="3"
                    pKeyFilter="pint"
                    title="Serie apostar"
                    [ngClass]="{'requerido' : (isSubmit && !detalleVenta.serie)}"/>
                </div>
              </div>

              <!-- nro -->
              <div class="ui-g-4 p-0">
                <div class="ui-g-12 pb-0">
                  <label for="nroin" class="lbl ml-1 mb-0">Número*</label>
                </div>
                <div class="ui-g-12 pt-0">
                  <input
                    [(ngModel)]="detalleVenta.numero"
                    (change)="changeSerieNumero()"
                    id="nroin"
                    class="input-app-sm w-100"
                    type="text"
                    maxlength="4"
                    pKeyFilter="pint"
                    title="Número apostar"
                    [ngClass]="{'requerido' : (isSubmit && !detalleVenta.numero)}"/>
                </div> 
              </div>

              <!-- btns consultar - aleatorio -->
              <div class="ui-g-5 p-0 text-right">
                <div class="ui-g-12 pb-0"><span class="lbl ml-1"></span></div>
                <button
                  (click)="validarSerieNroDisponible()"
                  class="btn-light"
                  type="button"
                  title="Permite validar si la serie y el número están disponible">
                  <label class="btn-label">CONSULTAR</label>
                  <i class="fa btn-icon fa-search pl-2"></i>
                </button>
                <button
                  (click)="generarNumeroAleatorio()"
                  class="btn-light ml-2"
                  type="button"
                  title="Permite generar una serie y número aleatorio">
                  <label class="btn-label">AUTOMATICO</label>
                  <i class="fa btn-icon fa-random pl-2"></i>
                </button>
              </div>
            </div>
            <div *ngIf="fraccionesDisponible && fraccionesDisponible.length" class="ui-g-12 barra pt-1"></div>

            <!-- fracciones btn agregar-->
            <ng-container *ngIf="fraccionesDisponible && fraccionesDisponible.length">

              <!-- fracciones-->
              <div class="ui-g-12 p-0 pt-0">
                <div class="ui-g-12 pb-0">
                  <label class="lbl mb-0">Seleccione la cantidad de fracciones</label>
                </div>
                <div class="ui-g-12 pt-0">
                  <span
                    (click)="setCantidadFracciones(fraccion)"
                    *ngFor="let fraccion of fraccionesDisponible"
                    class="badge badge-secondary fraccion"
                    [class]="detalleVenta.fracciones === fraccion ? 'fraccion-selected' : ''">
                    {{fraccion}}
                  </span>
                  <span
                    (click)="setCantidadFracciones(fraccionesDisponible.length)"
                    *ngIf="detalleVenta && detalleVenta.fraccionesVendidas === 0"
                    class="badge badge-secondary all"
                    [class]="detalleVenta.fracciones === fraccionesDisponible.length ? 'fraccion-selected' : ''">
                    Todo el billete
                  </span>
                </div>
              </div>

              <!-- btn agregar-->
              <div class="ui-g-12 pr-0 pt-0 pb-2 text-right">
                <button
                  (click)="agregarApuestaCarritoCompra()"
                  [disabled]="!(detalleVenta.fracciones)"
                  class="btn-light w-25"
                  type="button"
                  title="Permite agregar el número al carrito de compra">
                  <div class="ui-g-11 p-0 text-center">
                    <label class="btn-label-add pl-1 mt-0">AGREGAR</label>
                  </div>
                  <div class="ui-g-1 p-0 text-left">
                    <i class="fa fa-plus-circle btn-icon-pagar font-size-20"></i>
                  </div>
                </button>
              </div>
            </ng-container>
          </div>
        </div> 
      </div>
    </div>
  </div>

  <!-- pnl - right -->
  <div class="ui-g-3 pr-0 pt-0">

    <!-- pnl sorteos vender -->
    <div class="ui-g-12 p-0 pnloteries-right">
      <ng-container *ngIf="venta.detalles && venta.detalles.length">
        <ng-container *ngFor="let sorteo of venta.detalles; let i = index">
          <div class="ui-g-12 p-0 pnl-loterias mb-2">
            <div class="ui-g-10 p-0 pnl-separator height-100">
              <div class="ui-g-12 p-0">
                <div class="ui-g-6 p-0 p-left">
                  <span class="nro-sorteo pr-2">Número: {{sorteo.numero}}</span>
                </div>
                <div class="ui-g-6 p-0 text-center">
                  <span class="nro-serie">Serie: {{sorteo.serie}}</span>
                </div> 
                <div class="ui-g-12 p-0 p-left text-left">
                  <span class="lbl-loteria">Lotería: {{sorteo.nombreLoteria}} - {{sorteo.numeroSorteo}}</span>
                </div>
                <div class="ui-g-12 p-0 p-left text-left pb-2">
                  <div class="ui-g-4 p-0">
                    <span class="lbl-loteria">Fracciones:</span>
                  </div>
                  <div class="ui-g-8 p-0 text-center">
                    <span *ngIf="!(sorteo.todoBillete)" class="pnl-fraccion mb-1">{{sorteo.fracciones}}</span>
                    <span *ngIf="sorteo.todoBillete" class="pnl-fraccion">{{sorteo.fracciones}} - Todo el billete</span>
                  </div>
                </div>
                <div class="ui-g-12 p-0 p-left text-center">
                  <span class="nro-serie">Valor: {{sorteo.valor | currency}}</span>
                </div>           
              </div>
            </div>
            <div class="ui-g-2 p-0 text-center vertical-center">
              <i (click)="showModalEdicion(sorteo)" title="Permite editar este número" class="pi pi-pencil btn-edit-played"></i>
              <i (click)="eliminarNumeroCarrito(sorteo)" title="Permite eliminar este número del carrito" class="pi pi-trash btn-remove-played"></i>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>

    <!-- pnl pagar -->
    <div class="ui-g-12 p-0 pnl-right">
      <div class="ui-g-12 p-0 sub-pnl-right">

        <!-- apostado -->
        <div class="ui-g-6 p-0 mt-3 text-center spr">
          <div class="ui-g-12 p-0">
            <span class="lbl-pay">Apostado</span>
          </div>
          <div class="ui-g-12 p-0 text-center">
            <span class="lbl-value">{{(venta.valorTotal - venta.valorTotalIVA) | currency}}</span>
          </div>
        </div>

        <!-- iva -->
        <div class="ui-g-6 p-0 mt-3 text-center">
          <div class="ui-g-12 p-0">
            <span class="lbl-pay">IVA</span>
          </div>
          <div class="ui-g-12 p-0 text-center">
            <span class="lbl-value">{{venta.valorTotalIVA | currency}}</span>
          </div>
        </div>

        <!-- total -->
        <div class="ui-g-12 p-0 text-center pt-4 pb-4">
          <span class="lbl-total pr-2">Total</span>
          <span class="lbl-total">{{venta.valorTotal | currency}}</span>
        </div>
        
        <!-- btn pagar -->
        <div class="ui-g-12 p-0 pt-n">
          <button
           (click)="comprarLoteriaVirtual()"
           *ngIf="venta && venta.detalles && venta.detalles.length"
           class="btn-light-dark btn-pagar w-100"
           type="button"
           title="Permite realizar la compra de la lotería virtual">
            <div class="ui-g-11 p-0 text-center">
              <label class="btn-label-pagar pl-1">PAGAR</label>
            </div>
            <div class="ui-g-1 p-0 text-right">
              <i class="fa fa-chevron-circle-right btn-icon-pagar font-size-24"></i>
            </div>
          </button>
        </div>        
      </div>
    </div>
  </div>
</div>

<!-- modal creacion cliente -->
<p-dialog [(visible)]="showModalCrearCliente" [style]="{width: '464px'}">
  <app-crear-cliente 
      (closePopup)="closeModal($event)" 
      (createCustomer)="createCustomer($event)">
  </app-crear-cliente>
</p-dialog>

<!-- modal edicion -->
<ng-container *ngIf="modalEdicion && modalEdicion.data">
  <p-dialog
    header="VENTANA DE EDICIÓN"
    modal="true"
    [(visible)]="modalEdicion.isShowModal"
    (onHide)="modalEdicion.closeModal()"
    [style]="{ width: '40vw' }">
    <div class="ui-g">

      <!-- datos generales -->
      <div class="ui-g-12 p-0">
        <div class="ui-g-3 p-0">
          <div class="ui-g-12 p-0">
            <span class="nro-sorteo-e pr-2">Serie:</span>
          </div>
          <div class="ui-g-12 p-0">
            <span class="nro-serie-e">{{modalEdicion.data.serie}}</span>
          </div>
        </div>

        <div class="ui-g-3 p-0">
          <div class="ui-g-12 p-0">
            <span class="nro-sorteo-e pr-2">Número:</span>
          </div>
          <div class="ui-g-12 p-0">
            <span class="nro-serie-e">{{modalEdicion.data.numero}}</span>
          </div>
        </div>

        <div class="ui-g-3 p-0">
          <div class="ui-g-12 p-0">
            <span class="nro-sorteo-e pr-2">Sorteo:</span>
          </div>
          <div class="ui-g-12 p-0">
            <span class="nro-serie-e">{{modalEdicion.data.numeroSorteo}}</span>
          </div>
        </div>

        <div class="ui-g-3 p-0">
          <div class="ui-g-12 p-0">
            <span class="nro-sorteo-e pr-2">Lotería:</span>
          </div>
          <div class="ui-g-12 p-0">
            <span class="nro-serie-e">{{modalEdicion.data.nombreLoteria}}</span>
          </div>
        </div>
      </div>
      <div class="ui-g-12 barra pt-1"></div>

      <!-- fracciones -->
      <div class="ui-g-12 pt-3 text-center">
        <span
          (click)="setCantidadFraccionesEdicion(fraccion)"
          *ngFor="let fraccion of fraccionesDisponibleEdicion"
          class="badge badge-secondary fraccion-e"
          [class]="fraccionesEdicion === fraccion ? 'fraccion-selected' : ''">
          {{fraccion}}
        </span>
        <span
          (click)="setCantidadFraccionesEdicion(fraccionesDisponibleEdicion.length)"
          *ngIf="modalEdicion.data.fraccionesVendidas === 0"
          class="badge badge-secondary all-e"
          [class]="fraccionesEdicion === fraccionesDisponibleEdicion.length ? 'fraccion-selected' : ''">
          Todo el billete
        </span>
      </div>
      <div class="ui-g-12 barra pt-1"></div>

      <!-- btns cerrar-aplicar -->
      <div class="ui-g-12 p-0 pt-3 text-center">
        <button
          (click)="modalEdicion.closeModal()"
          type="button"
          class="btn-less mr-3 w-150-px"
          title="Permite cerrar esta ventana">
            <label class="btn-size-admin"><i class="fa fa-times"></i> Salir</label>
        </button>
        <button
          (click)="aplicarCambios()"
          [disabled]="!hayCambiosAplicados()"
          type="button"
          class="btn-light-dark"
          title="Permite aplicar los cambios">
            <label class="btn-size-admin"><i class="fa fa-pencil"></i> Aplicar cambios</label>
        </button>
      </div>
    </div>
  </p-dialog>
</ng-container>
