.inner-addon {
  position: relative;
}

.inner-addon .aico {
  position: absolute;
}

.left-addon .aico {
  left: 81%;
  padding-top: 7px;
}

.left-addon input {
  padding-right: 10px;
}

.aico {
  color: rgb(4, 130, 251);
  z-index: 1;
  font-size: 20px;
}

.left-addon-user .aico {
  left: 92%;
  padding-top: 5px;
}

.clr {
  color: #5c6063 !important;
}

.clock-icon {
  top: 204px;
  left: 631px;
  height: 25px;
  background: transparent url('../../../../assets/img/svg/clock.svg') 0% 0% no-repeat padding-box;
  opacity: 1;
  padding-left: 35px;
  padding-top: 4p;
  font-family: Montserrat;
}

.hora {
  text-align: left;
  font: Regular 13px/16px Montserrat;
  letter-spacing: 0px;
  color: #999999;
  opacity: 1;
}

.title {
  text-align: left;
  font: Regular 18px/22px Montserrat;
  letter-spacing: 0px;
  color: #999999;
  opacity: 1;
  font-weight: bold;
}

.pnl-header {
  top: 600px;
  left: 281px;
  font-size: 17px;
  height: 22px;
  font-family: Montserrat;
  letter-spacing: 0px;
  color: #999999;
  opacity: 1;
  text-decoration: none;
}

.card-header {
  padding: 0px !important;
}

.card-body {
  padding: 7px !important;
}

.in-search {
  border-radius: 20px;
  background-color: #fff;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
  border: 0px;
  outline: medium none;
  font-family: Montserrat !important;
  width: 85%;
}

.icon-success {
  position: absolute;
  pointer-events: none;
  font-size: 30px;
  color: #0083fe;
  padding-left: 2px;
}

.lbl {
  text-align: left;
  font-family: Montserrat;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
  font-size: 14px !important;
  padding-left: 5px;
}

.barra {
  border-bottom: solid 0.5px rgb(206, 204, 204);
}

.btn-icon {
  color: #f1f1f1;
}

.btn-label {
  font-family: Montserrat;
  margin: 0px !important;
  cursor: pointer;
  color: #f1f1f1;
}

.header {
  height: 62px;
  background: #0083FE 0% 0% no-repeat padding-box;
  border-radius: 5px 5px 0px 0px;
}

.header-selected {
  background: #FE007F 0% 0% no-repeat padding-box;
}

.content {
  border-radius: 10px 10px 10px 10px;
  cursor: pointer;
}

.content:hover, header {
  background: rgb(204, 204, 204) 0% 0% no-repeat padding-box;
}

.footer {
  background: #F2F2F2 0% 0% no-repeat padding-box;
  border-radius: 0px 0px 5px 5px;
  height: 44px;
  text-align: center;
}

.body {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  height: 123px;
}

.elevation {
  box-shadow: 0px 1px 0px -3px rgba(0, 0, 0, 0.2), 0px 0px 5px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px 1px rgba(0, 0, 0, 0.12);
}

:host ::ng-deep .ui-carousel-dots-container {
  display: none !important;
}

.footer-money {
  font: Bold 18px/22px Montserrat;
  letter-spacing: 0px;
  color: #0083FE;
}

.calendar-icon {
  height: 30px;
  background: transparent url('../../../../assets/img/svg/calendar-blue.svg') 0% 0% no-repeat padding-box;
  padding-left: 35px;
  display: inline-block;
}

.money-icon {
  height: 30px;
  background: transparent url('../../../../assets/img/svg/cash.svg') 0% 0% no-repeat padding-box;
  padding-left: 35px;
  display: inline-block;
}

.lbl-date {
  font: Regular 12px/15px Montserrat;
  letter-spacing: 0px;
  color: #333333;
}

.lbl-date-f {
  font: Regular 14px/18px Montserrat;
  letter-spacing: 0px;
  color: #999999;
}

.lbl-title {
  font: Bold 14px/18px Montserrat;
  letter-spacing: 0px;
  color: #FFFFFF;
}

.lbl-sub-title {
  font: Regular 13px/16px Montserrat;
  letter-spacing: 0px;
  color: #FFFFFF;
}

.selected {
  cursor: auto !important;
  pointer-events: none;
}

.pnloteries-right {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  min-height: 330px;
  max-height: 100%;
}

.pnl-right {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  height: 300px;
}

.sub-pnl-right {
  background: transparent linear-gradient(180deg, #0083FE 0%, #0BC9EC 100%) 0% 0% no-repeat padding-box;
  height: 145px;
}

.lbl-pay {
  font: Bold 18px/22px Montserrat;
  font-size: 16px;
  color: #FFFFFF;
}

.lbl-total {
  font: Bold 21px/25px Montserrat;
  color: #FFFFFF;
}

.spr {
  border-right: 2px solid #FFFFFF;
}

.lbl-value {
  font: Regular 17px/20px Montserrat;
  color: #FFFFFF;
}

.btn-pagar {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 8px #149DB77A !important;
  font-weight: bold;
}

.btn-label-pagar {
  font-family: Montserrat;
  margin: 0px !important;
  cursor: pointer;
  color: #0083FE;
  margin-top: 3px !important;
}

.btn-icon-pagar {
  color: #0083FE;
}

.btn-pagar:hover {
  background: rgb(241, 241, 241);
}

.pnl-loterias {
  min-height: 88px;
  max-height: 100%;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-left: 4px solid #0083FE;
  position: relative;
}

.pnl-separator {
  border-right: 2px solid #d6d6d6;
}

.height-100 {
  height: 100%;
}

.btn-edit-played {
  color: #14399e;
  font-size: 25px;
  cursor: pointer;
}

.btn-edit-played:hover {
  color: #071231;
}

.btn-remove-played {
  color: #d20202;
  font-size: 25px;
  cursor: pointer;
}

.btn-remove-played:hover {
  color: #660303;
}

.nro-sorteo {
  font: Bold 12px/14px Montserrat;
  color: #3A3F51;
}

.nro-serie {
  font: Bold 12px/14px Montserrat;
  color: #0083FE;
}

.lbl-loteria {
  font: Bold 12px/14px Montserrat;
  color: rgb(146, 147, 153);
}

.p-left {
  padding-left: 5px !important;
}

.pnl-fraccion {
  background: #0083FE 0% 0% no-repeat padding-box;
  border-radius: 5px;
  text-align: center;
  font: Bold 12px/14px Montserrat;
  color: #FFFFFF;
  padding-top: 3px;
  padding-bottom: 3px;
  width: 100px;
  display: inline-block;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 83%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.btn-filter {
  position: absolute !important;
  left: 72%;
  top: 145px;
}

.no-sorteos {
  height: 30px;
  text-align: left;
  border-radius: 15px;
  background-color: #F2F2F2;
  padding-top: 4px;
  padding-left: 32px;
}
