      
            <div class="container-fluid">
                <!-- ABRE SEMANARIO Y BOTONES HEADER -->
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <span class="hea-titles">Seleccione el día del sorteo</span>
                        <hr/>
                        <span 
                            class="badge badge-secondary chipOptionDay" 
                            *ngFor="let day of days"
                            [id]="day.name"
                            (click)="get_date_bet(day)">
                            {{day.text}}
                        </span>
                        <p-calendar
                            [locale]="lengEspanol"
                            [(ngModel)]="pCalendarioValor"
                            [inputStyle]="{'width':'142px', 'height':'40px', 'padding-left':'20px','background':'url(../../../../../assets/img/svg/calendar-blue.svg) 100px 3px no-repeat #ffff', 'box-shadow':'0px 3px 6px #149DB77A', 'border-radius':'25px'}"
                            (onSelect)="obtenerFechaCalendario(pCalendarioValor)"
                            class="calendar-control"
                            placeholder="Otro día"
                            showOn="button"
                            [readonlyInput]="true"
                            yearRange="2020:2021"
                            [monthNavigator]="true"
                            [yearNavigator]="true"
                            dateFormat="yy-mm-dd"
                            [showIcon]="false">
                        </p-calendar>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <span class="hea-titles">Juego Automático</span>
                        <hr/>
                        <div class="row">
                            <p-selectButton [options]="arrayCifrasSeleted" [(ngModel)]="selectedCifras" optionLabel="name"></p-selectButton>
                            <img class="img-aletorio" src="../../../../../assets/img/svg/Grupo_301.svg" />
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                        
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                        <button type="button" class="btn btn-random-red">
                            BORRAR TODO
                        </button>
                    </div>
                </div>
                <!-- / CIERRA SEMANARIO Y BOTONES HEADER -->
    
                <!-- ABRE SELECCION DE LOTERIAS Y NUMEROS QUE APUESTAN -->
                <div id="content-bet" class="row">
                    <div class="col-md-5" style="position: static;">
                        <span class="title-lot-bet">Loterias del día</span>
                        <div id="content-lot">
                            <div class="row select-all-a">
                                <div class="col-md-6"></div>
                                <div class="col-md-6" *ngIf="loterias.length > 0">
                                    <span (click)="cambioSeleccion(1)" class="title-lot-bet">Seleccionar todas</span>
                                    <p-inputSwitch (click)="cambioSeleccion(2)" [(ngModel)]="checked"></p-inputSwitch>
                                </div>
    
    
                                <div class="container-fluid">
                                    <div id="fila-loteiras" class="row">
                                        <div class="col-md-4" style="position: static;" *ngFor="let loteria of loterias">
                                            <!-- <p-checkbox (onChange)="toggleVisibility(loteria)" [formControl]="loteria.checked"></p-checkbox>
                                            <label class="labelloteria">{{loteria.nombreCorto}}</label> -->
                                            <input (mouseenter)="op1.toggle($event)" (mouseleave)="op1.toggle($event)" type="checkbox"(click)="toggleVisibility(loteria)" [(ngModel)]="loteria.checked"/>
                                            <label (mouseenter)="op1.toggle($event)" (mouseleave)="op1.toggle($event)" class="labelloteria" (click)="toggleVisibility(loteria)">{{loteria.nombreCorto}}</label>
                                            <p-overlayPanel #op1>
                                                <img [src]="loteria.url" style="width: 60px;" alt="Galleria 1" />
                                            </p-overlayPanel>
                                        </div>
                                    </div>
                                </div>
    
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-md-5">
                                <b>Modalidad</b><br/>
                            </div>
                            <div class="col-md-7">
                                <b>Número</b><br/>
                                <input id="numeroFilaUno" autocomplete="off" type="text" maxlength="4"  (keypress)="permitirSoloNumeros($event)" class="input-bet">
                                <img class="img-aletorio" *ngIf="selectedCifras && selectedCifras.code == '3C'" src="../../../../../assets/img/svg/Grupo_306.svg" />
                                <img class="img-aletorio" *ngIf="selectedCifras && selectedCifras.code == '4C'" src="../../../../../assets/img/svg/Grupo_303.svg" />
                                <i class="fa fa-trash tras-del" aria-hidden="true"></i>
                                <br/>
                                <input id="numeroFilaDos" autocomplete="off" type="text" maxlength="4"  (keypress)="permitirSoloNumeros($event)" class="input-bet">
                                <img class="img-aletorio" *ngIf="selectedCifras && selectedCifras.code == '3C'" src="../../../../../assets/img/svg/Grupo_306.svg" />
                                <img class="img-aletorio" *ngIf="selectedCifras && selectedCifras.code == '4C'" src="../../../../../assets/img/svg/Grupo_303.svg" />
                                <i class="fa fa-trash tras-del" aria-hidden="true"></i>
                                <br/>
                                <input id="numeroFilaTres" autocomplete="off" type="text" maxlength="4"  (keypress)="permitirSoloNumeros($event)" class="input-bet">
                                <img class="img-aletorio" *ngIf="selectedCifras && selectedCifras.code == '3C'" src="../../../../../assets/img/svg/Grupo_306.svg" />
                                <img class="img-aletorio" *ngIf="selectedCifras && selectedCifras.code == '4C'" src="../../../../../assets/img/svg/Grupo_303.svg" />
                                <i class="fa fa-trash tras-del" aria-hidden="true"></i>
                                <br/>
                                <input id="numeroFilaCuatro" autocomplete="off" type="text" maxlength="4"  (keypress)="permitirSoloNumeros($event)" class="input-bet">
                                <img class="img-aletorio" *ngIf="selectedCifras && selectedCifras.code == '3C'" src="../../../../../assets/img/svg/Grupo_306.svg" />
                                <img class="img-aletorio" *ngIf="selectedCifras && selectedCifras.code == '4C'" src="../../../../../assets/img/svg/Grupo_303.svg" />
                                <i class="fa fa-trash tras-del" aria-hidden="true"></i>
                                <br/>
                                <input id="numeroFilaCinco" autocomplete="off" type="text" maxlength="4"  (keypress)="permitirSoloNumeros($event)" class="input-bet">
                                <img class="img-aletorio" *ngIf="selectedCifras && selectedCifras.code == '3C'" src="../../../../../assets/img/svg/Grupo_306.svg" />
                                <img class="img-aletorio" *ngIf="selectedCifras && selectedCifras.code == '4C'" src="../../../../../assets/img/svg/Grupo_303.svg" />
                                <i class="fa fa-trash tras-del" aria-hidden="true"></i>
                            </div>
                            <!-- <div class="col-md-3">
                                acciones
                            </div> -->
                        </div>
                    </div>
                </div>
                <!-- / CIERRA SELECCION DE LOTERIAS Y NUMEROS QUE APUESTAN -->
            </div>



        <p-dialog [(visible)]="displayModalCreate" [style]="{width: '464px'}">
            <app-crear-cliente 
                (closePopup)="closeModal($event)" 
                (createCustomer)="createCustomer($event)">
            </app-crear-cliente>
        </p-dialog>



        <p-dialog [(visible)]="displayModalBuscarCliente" header="CONSULTA DE CLIENTE" [style]="{width: '664px'}">
            <app-buscar-cliente
                (closeModalCliente)="closeModalCliente($event)"
                (closeModalClienteVerCreacion)="closeModalClienteVerCreacion($event)"
                (searchCustomer)="searchCustomer($event)">
            </app-buscar-cliente>
        </p-dialog>
        

    

    

