<div class="collapse" id="collapseExample">
  <div class="card card-body">
    <!-- ///// ng for ///// -->
    <div class="item-producto" *ngFor="let producto of productos; let i = index">
      <div class="row">
        <div class="col-md-10">
          <span class="colilla-texto">COLILLA: {{ producto.colilla }}</span>
        </div>
        <div (click)="borrarApuesta(producto._id)" class="col-md-2">
          <i class="fa fa-times estilo-iconos-cerrar" aria-hidden="true"></i>
        </div>
      </div>

      <div class="row">
        <div class="col-md-10">
          <span class="fecha-sorteo-text-numero-loterias">Fecha sorteo:</span> <span class="fecha-sorteo">{{ producto.fechaActual }}</span><br/>
          <span class="fecha-sorteo-text-numero-loterias">Números: {{ producto.listaNumeros.length }}</span> <span class="fecha-sorteo-text-numero-loterias espacio-loterias">Loterías: {{ producto.loterias.length }}</span><br/>
        </div>
        <div class="col-md-2">
          <i (click)="editarApuesta(producto)" class="fa fa-pencil estilo-iconos-editar" aria-hidden="true"></i>
        </div>
      </div>

      <div class="row">
        <div class="col-md-10">
          <span class="valor-apostado">Valor apostado:</span> <span class="valor-apostado valor-valor">{{ producto.apostado }}</span>
        </div>
        <div (click)="viewRepetirEvent(i)" class="col-md-2">
          <i class="fa fa-files-o estilo-iconos-copiar" aria-hidden="true"></i>
        </div>
      </div>


      <div id="row-duplicate" class="row" *ngIf="producto.viewRepetir">
        <div class="col-md-6">
          <span (click)="aumentarDuplicidad()"><i class="fa fa-plus-circle btns-duplicar" aria-hidden="true"></i></span> 
          <span class="valor-apostado cantidad-duplicar">{{cantidadRepetir}}</span> 
          <span (click)="disminuirDuplicidad()"><i class="fa fa-minus-circle btns-duplicar" aria-hidden="true"></i></span> 
        </div>
        <div (click)="duplicarApuesta(producto._id)" class="col-md-6">
          <span class="repetir-estilo">Repetir</span>
        </div>
      </div>
      
    </div>
    <!-- ///// ng for ///// -->

    <div *ngIf="productos.length > 0">
      <hr class="hr-subtotal" />
      <div class="row">
        <div class="col-md-6">
          <span class="text-info-subtotal">SUBTOTAL:</span>
        </div>
        <div class="col-md-6 right-subtotal">
          <span class="text-info-subtotal">$ {{ subtotal }}</span>
        </div>
      </div>
      <hr class="hr-subtotal" />

      <div class="row">
        <div class="col-md-12 center-btn-continuar">
          <button (click)="verResumenCompra()" type="button" class="btn btn-random-red">
            CONTINUAR
          </button>
        </div>
      </div>
    </div>


    <div *ngIf="productos.length == 0">
      <span class="textoSinProductos">No hay jugadas agregadas</span>
    </div>
    

  </div>
</div>