  <form [formGroup]="clienteForm">
    <div class="container-fluid">
        <h1 class="titleCreate">CREAR CLIENTE</h1>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                  <select formControlName="tipoDocumento" class="form-control typeIdentification" id="exampleFormControlSelect1">
                    <option value="option">Tipo de documento</option>  
                    <option value="CC">Cédula</option>
                    <option value="TI">Tarjeta de identidad</option>
                  </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                  <input type="text" formControlName="numeroDocumento" class="form-control inputFormCreate" placeholder="Número de documento">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                  <input type="text" formControlName="primerNombre" class="form-control inputFormCreate" placeholder="Primer Nombre">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                  <input type="text" formControlName="segundoNombre" class="form-control inputFormCreate" placeholder="Segundo Nombre">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                  <input type="text" formControlName="primerApellido" class="form-control inputFormCreate" placeholder="Primer Apellido">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control inputFormCreate" formControlName="segundoApellido" placeholder="Segundo Apellido">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                  <input type="text" class="form-control inputFormCreate" formControlName="correo" placeholder="Correo electrónico">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                  <input type="text" class="form-control inputFormCreate" formControlName="numeroCelular" placeholder="Número celular">
                </div>
            </div>
        </div>

        <div class="row float-right">
            <button type="button" (click)="closePopupE()" class="btn btn-outline-light btnActions">Cancelar</button>
            <button type="button" (click)="validCreateCustomerE()" class="btn btn-outline-light btnActions">Registrar</button>
        </div>
    </div>
