aside{
    /*width: 430px;*/
    /*height: calc(100vh - 110px);*/
    height: auto;
    box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
}

::ng-deep .ui-card{
    margin-bottom: 10px; 
    border-left: #0083fe 5px solid;
}

.font-played{
    font-size: 12px;
}

.actions-btns {
    border-left: 2px solid #d6d6d6;
}


.btn-edit-played {
    padding-top: 18px;
    color: #14399e;
    font-size: 25px;
    cursor: pointer;
}

.btn-remove-played {
    color: #d20202;
    font-size: 25px;
    cursor: pointer;
}

.numberPlayed {
    font-family: 'Montserrat';
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
    color: #3a3f51;
}

.dayDraw {
    font-family: 'Montserrat';
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: left;
    color: #3a3f51;
}


.headNumberValues {
    font-family: Montserrat;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #0083fe;
}

.textNumberValues {
    font-family: Montserrat;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #3a3f51;
}


.bd-example-container-body-lotteries{
    height: 20px;
    background-color: #f2f2f2;
}

.totalValues{
    height: 8rem;
    background-image: linear-gradient(to bottom, #0083fe, #0bc9ec);
}

.consolidValues {
    padding-top: 24px;
}

.lotteriesCount{
    font-family: Montserrat;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #0083fe;
    margin-left: 10px;
}

.textBet{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}


.textBetFooter{
    font-family: Montserrat;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.textBetFooterValue{
    font-family: Montserrat;
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.valueBet {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.18;
    letter-spacing: normal;
    text-align: -webkit-right;
    color: #ffffff;
}

.columValueBet{
    text-align: right;
}


.columValueBetFooter{
    text-align: right;
}

.vatBorder{
    border-left: #f0f3f4 2px solid;
}

.footerValueTotal{
    padding-top: 28px;
}

.payButon{
    width: 90%;
    border-radius: 30px;
    box-shadow: 0 1.5px 4px 0 rgba(20, 157, 183, 0.48);
    background-color: #ffffff;
    font-family: Montserrat;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: normal;
    color: #0083fe;
    margin-top: 15px;
    margin-bottom: 15px;
}


.alinBtn{
    text-align: center;
}