    <aside>
        <p-card *ngFor="let cartItem of cartItems">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-11">
                        <div class="row">
                            <b *ngIf="cartItem.numberPlayed" class="numberPlayed">Número Jugado: {{cartItem.numberPlayed}}</b>
                            <b *ngIf="cartItem.numberPlayed==null && cartItem.modalidad" class="numberPlayed">Modalidad: {{cartItem.modalidad}}</b> 
                            <b *ngIf="cartItem.numberPlayed==null && cartItem.modalidad==null && cartItem.numeroSuper" class="numberPlayed">Número jugado: {{cartItem.numeroSuper}}</b> 
                            <b *ngIf="cartItem.numberPlayed==null && cartItem.modalidad==null && cartItem.numeroSuper==null && cartItem.numeroAstro" class="numberPlayed">Número jugado: {{cartItem.numeroAstro}}</b> 
                        </div>
                        <div class="row">
                            <table *ngIf="cartItem.numberPlayed" style="width:100%">
                                <tr>
                                    <th class="headNumberValues" *ngIf="cartItem.direct">Directo</th>
                                    <th class="headNumberValues" *ngIf="cartItem.combined">Combi</th>
                                    <th class="headNumberValues" *ngIf="cartItem.threeC">3C</th>
                                    <th class="headNumberValues" *ngIf="cartItem.twoC">2C</th>
                                    <th class="headNumberValues" *ngIf="cartItem.oneC">1C</th>
                                </tr>
                                <tr>
                                    <td class="textNumberValues" *ngIf="cartItem.direct">${{cartItem.direct | currency}}</td>
                                    <td class="textNumberValues" *ngIf="cartItem.combined">${{cartItem.combined | currency}}</td>
                                    <td class="textNumberValues" *ngIf="cartItem.threeC">${{cartItem.threeC | currency}}</td>
                                    <td class="textNumberValues" *ngIf="cartItem.twoC">${{cartItem.twoC | currency}}</td>
                                    <td class="textNumberValues" *ngIf="cartItem.oneC">${{cartItem.oneC | currency}}</td>
                                </tr>
                            </table>

                            <table *ngIf="cartItem.numberPlayed==null && cartItem.modalidad" style="width:100%">
                                <tr>
                                    <td class="textNumberValues" *ngIf="cartItem.apuestaA">{{cartItem.apuestaA}}</td>
                                    <td class="textNumberValues" *ngIf="cartItem.apuestaB">{{cartItem.apuestaB}}</td>
                                    <td class="textNumberValues" *ngIf="cartItem.apuestaC">{{cartItem.apuestaC}}</td>
                                    <td class="textNumberValues" *ngIf="cartItem.apuestaD">{{cartItem.apuestaD}}</td>
                                    <td class="textNumberValues" *ngIf="cartItem.apuestaE">{{cartItem.apuestaE}}</td>
                                </tr>
                            </table>
                            <table *ngIf="cartItem.numberPlayed==null && cartItem.modalidad==null && cartItem.numeroSuper" style="width:100%">
                                <tr>
                                    <td class="textNumberValues" *ngIf="cartItem.valorApostado">Valor: {{cartItem.valorApostado | currency}}</td>
                                </tr>
                            </table>
                            <table *ngIf="cartItem.numberPlayed==null && cartItem.modalidad==null && cartItem.numeroSuper==null && cartItem.numeroAstro" style="width:100%">
                                <tr>
                                    <td class="textNumberValues" *ngIf="cartItem.valorApostado">Signos: {{validarSignoNombre(cartItem.zignos)}}</td>
                                </tr>
                                <tr>
                                    <td class="textNumberValues" *ngIf="cartItem.valorApostado">Valor: {{cartItem.valorApostado | currency}}</td>
                                </tr>
                            </table>

                            <span class="dayDraw">Dia del sorteo: {{cartItem.dataPlayed | date: 'dd/MM/yyyy'}}</span>
                        </div>
                    </div>
                    <div class="col-1 actions-btns">
                        <i (click)="editBetSend(cartItem)" class="pi pi-pencil btn-edit-played"></i>
                        <i (click)="deleteBet(cartItem)" class="pi pi-trash btn-remove-played"></i>
                    </div> 
                </div>
            </div>
        </p-card>

        
        <div class="totalValues">
            <div class="bd-example-container-body-lotteries">
                <span class="lotteriesCount">Loterias: {{ lotteries.length }}</span>
            </div>
            <div class="row consolidValues">
                <div class="col-5 columValueBet">
                    <b class="textBet">Apostado</b> <br>
                    <span class="valueBet">$ {{ valueBet  | currency}}</span>
                </div>
                <div class="col-7 vatBorder">
                    <b class="textBet">IVA</b> <br>
                    <span class="valueBet">$ {{ valueVat  | currency}}</span>
                </div>
            </div>
            <div class="row footerValueTotal">
                <div class="col-5 columValueBetFooter">
                    <b class="textBetFooter">Total</b> <br>
                </div>
                <div class="col-7">
                    <b class="textBetFooterValue">{{ valueBetTotal  | currency}}</b> <br>
                </div>
            </div>
            <div class="alinBtn">
                <button *ngIf="cartItems.length > 0 && lotteries.length > 0" (click)="payTransaction()" class="btn btn-primary btn-lg payButon">
                    PAGAR
                    <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </aside>
