    <aside>
        <p-card  *ngFor="let cartItem of cartItems">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-11">
                        <div class="row">
                            <b *ngIf="cartItem.numberPlayed" class="numberPlayed">Número Jugado: {{cartItem.numberPlayed}}</b>
                            <b *ngIf="cartItem.numberPlayed==null && cartItem.modalidad" class="numberPlayed">Modalidad: {{cartItem.modalidad}}</b> 
                            <b *ngIf="cartItem.numberPlayed==null && cartItem.modalidad==null && cartItem.numeroSuper" class="numberPlayed">Número jugado: {{cartItem.numeroSuper}}</b> 
                            <b *ngIf="cartItem.numberPlayed==null && cartItem.modalidad==null && cartItem.numeroSuper==null && cartItem.numeroAstro" class="numberPlayed">Número jugado: {{cartItem.numeroAstro}}</b>
                        </div>
                        <div class="row" *ngIf="cartItem.nombresLoteria && !cartItem.numeroAstro" >
                            <b *ngIf="cartItem.nombresLoteria" class="signosBolsa">Loterias</b> 
                            <b *ngIf="cartItem.nombresLoteria" class="loteriasbolsa">{{cartItem.nombresLoteria}}</b> 
                        </div>
                        <div class="row" *ngIf="cartItem.nombresLoteria && cartItem.numeroAstro" >
                            <b *ngIf="cartItem.nombresLoteria" class="signosBolsa">Loterias</b> 
                            <b *ngIf="cartItem.nombresLoteria" class="signosBolsa">{{cartItem.nombresLoteria}}</b> 
                        </div>


                        <div class="row">

                            <div *ngIf="cartItem.numberPlayed" class="games">

                                <div *ngIf="cartItem.direct" class="box">
                                  <p class="title-box">Directo</p>
                                  {{cartItem.direct | currency: "CAD":"symbol-narrow":".0-0"}}
                                </div>
                                
                                <div *ngIf="cartItem.combined" class="box">
                                  <p class="title-box">Combi</p>
                                  {{cartItem.combined | currency: "CAD":"symbol-narrow":".0-0"}}
                                </div>
                                
                                <div *ngIf="cartItem.threeC" class="box">
                                  <p class="title-box">3C</p>
                                  {{cartItem.threeC | currency: "CAD":"symbol-narrow":".0-0"}}
                                </div>
                                
                                <div *ngIf="cartItem.twoC" class="box">
                                  <p class="title-box">2C</p>
                                  {{cartItem.twoC | currency: "CAD":"symbol-narrow":".0-0"}}
                                </div>
                                
                                <div *ngIf="cartItem.oneC" class="box">
                                  <p class="title-box">1C</p>
                                  {{cartItem.oneC | currency: "CAD":"symbol-narrow":".0-0"}}
                                </div>
                                
                               </div>
                             
                            <table *ngIf="cartItem.numberPlayed==null && cartItem.modalidad" style="width:100%">
                                <tr>
                                    <td class="textNumberValues" *ngIf="cartItem.apuestaA">{{cartItem.apuestaA}}</td>
                                    <td class="textNumberValues" *ngIf="cartItem.apuestaB">{{cartItem.apuestaB}}</td>
                                    <td class="textNumberValues" *ngIf="cartItem.apuestaC">{{cartItem.apuestaC}}</td>
                                    <td class="textNumberValues" *ngIf="cartItem.apuestaD">{{cartItem.apuestaD}}</td>
                                    <td class="textNumberValues" *ngIf="cartItem.apuestaE">{{cartItem.apuestaE}}</td>
                                </tr>
                                
                            </table>
                            <table *ngIf="cartItem.modalidad" style="width:100%">
                                <tr>
                                    <td class="colorvalor" *ngIf="cartItem.valorApostado">Valor: {{cartItem.valorApostado | currency: "CAD":"symbol-narrow":".0-0"}}</td>
                                </tr>
                            </table>
                            <table *ngIf="cartItem.numberPlayed==null && cartItem.modalidad==null && cartItem.numeroSuper" style="width:100%">
                                <tr>
                                    <td class="colorvalor" *ngIf="cartItem.valorApostado">Valor: {{cartItem.valorApostado | currency: "CAD":"symbol-narrow":".0-0"}}</td>
                                </tr>
                            </table>
                            <table *ngIf="cartItem.numberPlayed==null && cartItem.modalidad==null && cartItem.numeroSuper==null && cartItem.numeroAstro" style="width:100%">
                                <tr>
                                    <td class="textNumberValues" *ngIf="cartItem.valorApostado">Signos: {{validarSignoNombre(cartItem.zignos)}}</td>
                                </tr>
                                <tr>
                                    <td class="colorvalor" *ngIf="cartItem.valorApostado">Valor: {{cartItem.valorApostado | currency: "CAD":"symbol-narrow":".0-0"}}</td>
                                </tr>
                            </table>
                            
                            <span class="dayDraw">Dia del sorteo: {{cartItem.dataPlayed | date: 'dd/MM/yyyy'}}</span>
                        </div>
                    </div>
                    <div class="col-1 actions-btns">
                        <i (click)="editBetSend(cartItem, true)" class="pi pi-pencil btn-edit-played"></i>
                        <i (click)="editBetSend(cartItem,false)" class="pi pi-pencil btn-edit-played"></i>
                        <i (click)="deleteBet(cartItem)" class="pi pi-trash btn-remove-played"></i>
                    </div> 
                </div>
            </div>
        </p-card>

        
        <div class="totalValues">
       
            <div class="row consolidValues">
                <div class="col-6 columValueBet">
                    <b class="textBet">Apostado</b> <br>
                    <span class="valueBet">{{ valueBet  | currency: "CAD":"symbol-narrow":".0-0"}}</span>
                </div>
                <div class="col-6 vatBorder">
                    <b class="textBet">IVA</b> <br>
                    <span class="valueBet"> {{ valueVat  | currency: "CAD":"symbol-narrow":".0-0"}}</span>
                </div>
            </div>
            <div class="row footerValueTotal">
                <div class="col-5 columValueBetFooter">
                    <b class="textBetFooter">Total</b> <br>
                </div>
                <div class="col-7">
                    <b class="textBetFooterValue">{{ valueBetTotal  | currency: "CAD":"symbol-narrow":".0-0"}}</b> <br>
                </div>
            </div>
            <div class="alinBtn">
                <button *ngIf="cartItems.length > 0 && lotteries.length > 0" (click)="payTransaction()" class="btn btn-primary btn-lg payButon">
                    PAGAR
                    <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </aside>
