aside{
    top: 100px;
    left: 1086px;
    width: 100%;
    height: 668px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;

}

.games {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    width: 100%;
    margin-bottom: 10px;
  }
  
  .box {
    flex: 0 33%;
    font-size: 12px;
    font-family: Montserrat;
  }
  
  .box .title-box{
    color: #0083FE;
    margin: 0px;
  }
  .loteriasbolsa{
    height: 60px;
    width: 190px;
    background: #2076BD;
    border-radius: 5px;
    color: white;
    text-align: left;
    font-size: 11px;
    font-family: 'Montserrat';
    font-weight: bold;
    letter-spacing: 0px;
    opacity: 1;
  }
  
  .dayDraw{
    font-family: Montserrat;
    line-height: 1.23;
    text-align: left;
    color: #3a3f51;
  }

::ng-deep .ui-card-body{
    padding: 5px !important;
}

::ng-deep .ui-card{
    margin-bottom: 6px;
    top: 101px;
    left: 1086px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 20px;
    opacity: 1;
}

.font-played{
    font-size: 12px;
}

.actions-btns {
    padding-right: 0px !important;
    padding-left: 0px !important;
    border-left: 2px solid #d6d6d6;
}


.btn-edit-played {
    padding-top: 18px;
    color: #14399e;
    font-size: 25px;
    cursor: pointer;
}

.btn-remove-played {
    color: #d20202;
    font-size: 25px;
    cursor: pointer;
}

.numberPlayed {
    top: 105px;
    left: 1097px;
    width: 157px;
    height: 18px;
    text-align: left;
    font-size: 12px;
    font-family: 'Montserrat';
    font-weight: bold;
    letter-spacing: 0px;
    color: #3A3F51;
    opacity: 1;
}

.signosBolsa {
    top: 105px;
    left: 1097px;
    width: 157px;
    height: 18px;
    text-align: left;
    font-size: 11px;
    font-family: 'Montserrat';
    font-weight: bold;
    letter-spacing: 0px;
    color: #3A3F51;
    opacity: 1;
}

.dayDraw {
    font-family: 'Montserrat';
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: left;
    color: #3a3f51;
}


.headNumberValues {
    font-family: Montserrat;
    top: 237px;
    left: 1097px;
    width: 44px;
    height: 15px;
    text-align: left;
    font-size: 12px;
    letter-spacing: 0px;
    color: #0083FE;
    opacity: 1;
}

.colorvalor{
    text-align: left;
font: Bold 12px/15px Montserrat;
letter-spacing: 0px;
color: #BE1E42;
opacity: 1;
}
.textNumberValues {
    font-family: 'Montserrat';
    font-size: 12px;
    top: 257px;
    left: 1097px;
    width: 50px;
    height: 15px;
    text-align: left;
    letter-spacing: 0px;
    color: #3A3F51;
    opacity: 1;
}


.bd-example-container-body-lotteries{
    height: 20px;
    background-color: #f2f2f2;
}

.totalValues{
    top: 380px;
    left: 1086px;
    height: 143px;
  background-color: #BE1E42;
    opacity: 1;
    position: sticky;
}


.lotteriesCount{
    font-family: Montserrat;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #0083fe;
    margin-left: 10px;
}

.textBet{
    font-family: Montserrat;
    top: 623px;
    left: 1099px;
    width: 77px;
    height: 19px;
    text-align: left;
    font-size: 16px;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;

}


.textBetFooter{
    font-family: Montserrat;
    top: 677px;
    left: 1147px;
    width: 51px;
    height: 25px;
    text-align: left;
    font-size: 21px;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.textBetFooterValue{
    font-family: Montserrat;
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.valueBet {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.18;
    letter-spacing: normal;
    text-align: -webkit-right;
    color: #ffffff;
}

.columValueBet{
    text-align: right;
}


.columValueBetFooter{
    text-align: right;
}

.vatBorder{
    border-left: #f0f3f4 2px solid;
}

.consolidValues {
    padding-top: 12px;
}

.footerValueTotal{
    padding-top: 16px
}

.payButon{

    top: 721px;
    left: 1099px;
    width: 100%;
    height: 40px;
    background-color: #BE1E42;
    border-radius: 20px;
    opacity: 1;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: Montserrat;
    text-align: center;
    font-size: 16px;
    letter-spacing: 0px;
    opacity: 1;
}


.alinBtn{
    margin-top: 50px;
    position: sticky;
    text-align: center;
}