<div class="pnl-1">
  <div class="pnl-2">
    <div class="pnl-3">
      <div class="ui-g">
        <div class="ui-g-12 title-container">
          <span class="text-404">404</span>
        </div>
        <div class="ui-g-12">
          <p class="title-pag">PÁGINA NO ENCONTRADA</p>
          <p class="title-sub">Por favor, póngase en contacto con el administrador del sistema</p>
        </div>
        <div class="ui-g-12">
          <button (click)="goHome()" type="submit" class="btn btn-primary w-65">
            <span class="font-new-roman font-size-12 font-weight-bold">REGRESAR</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
