:host {
  display: flex;
  background-color: #f4f4f4;
  flex-grow: 1;
}

.body-style {
  flex-grow: 1;
  overflow: auto !important;
}

.contenido {
  padding: 10px;
}

:host ::ng-deep #smallMenu .ui-sidebar-left {
  width: 242px !important;
}

:host ::ng-deep #smallMenu .ui-sidebar {
  padding: 0px !important;  
}