<!-- para dispositivos con resolucion grande -->
<app-menu [@openClose]="(shellState.screen.isBigScreen() && (shellState.menu.isToogleMenuFirstTime || shellState.menu.isMenuOpen))  ? 'open' : 'closed'" class="content-menu">
</app-menu>

<!-- para dispositivos con resolucion pequenia -->
<p-sidebar id="smallMenu"
  *ngIf="!shellState.screen.isBigScreen()"
  [(visible)]="shellState.menu.isMenuOpen"
  [showCloseIcon]="false"
  [baseZIndex]="10000">
    <app-menu class="content-menu"></app-menu>
</p-sidebar>

<!-- aca es donde va el contenido del shell -->
<div id="maincontent" class="body-style">

  <!-- Miga de pan de la aplicacion -->
  <app-breadcrumb></app-breadcrumb>

  <!-- Aca es donde va las paginas seleccionadas por el user -->
  <div class="contenido">
    <app-title></app-title>
    <router-outlet></router-outlet>
  </div>
</div>
