<!-- panel principal -->
<div class="pnl1 mat-elevation-z8">
    <div class="head">
      <span class="title">Movimientos</span>
    </div>
  
    <!-- filtro - tbl movimietos -->
    <div class="ui-g">
  
      <!-- btn ver filtro -->
      <div class="ui-g-6 text-left pb-0 pt-0 pr-0 pl-0">
        <div class="mt-3 ml-3 mb-0 mr-0">
          <button
            (click)="toogleShowFilter()"
            class="btn-light-dark-ver-filtro w-130-px"
            type="button"
            title="Oculta el panel de filtros de búsqueda">
              <label class="btn-label"> Ver Filtros</label>
              <i [ngClass]="isShowFilter ? 'fa-arrow-circle-down' : 'fa-arrow-circle-up'" class="fa btn-icon font-size-20 pl-2"></i>
          </button>
        </div>
      </div>
      <!-- panel filtros -->
      <ng-container *ngIf="isShowFilter">
        <div class="ui-g-12 ml-3 mr-3 p-0 mt-2">
  
          <!-- filtro por producto -->
          <div class="ui-g-3 pb-0">
              <p-multiSelect [(ngModel)]="filtro.idProductos"
              inputId="productosin" name="productosin" [options]="itemsProductos"
              defaultLabel="Productos" maxSelectedLabels="4"
              emptyFilterMessage="Debe seleccionar un almenos un producto" appendTo="body"
              [styleClass]="'w-100'" [filter]="false">
          </p-multiSelect>
            </div>
    
  
          <!-- filtro por fecha -->
          <div class="ui-g-3 pb-0">
                  <div class="inner-addon left-addon">
                    <i (click)="filtro.fecha = null"
                      [ngClass]="filtroClone.fecha ? 'text-dark' : 'i-slight'"
                      class="fa fa-times font-size-16 aico copy"></i>
                      <p-calendar
                      [(ngModel)]="filtro.fecha"
                      name="finit"
                      inputId="finit"
                      [locale]="CALENDAR_SPANISH"
                      showButtonBar="true"
                      [readonlyInput]="true"
                      inputStyleClass="calendar-app-sm font-new-roman"
                      [monthNavigator]="true"
                      [yearNavigator]="true"
                      yearRange="2000:2025"
                      dateFormat="yy-MM-dd"
                      title="Filtro por fecha"
                      placeholder="Fecha">
                    </p-calendar>
                  </div>
          </div>




          <p-calendar
                [(ngModel)]="filtro.fechaInicio"
                name="finit"
                inputId="finit"
                [locale]="CALENDAR_SPANISH"
                showButtonBar="true"
                [readonlyInput]="true"
                inputStyleClass="calendar-app-sm font-new-roman"
                [monthNavigator]="true"
                [yearNavigator]="true"
                yearRange="2000:2025"
                dateFormat="yy-MM-dd"
                title="Filtro por fecha inicio"
                placeholder="Fecha Inicio">
              </p-calendar>
  
          <!-- filtro por tipo -->
          <div class="ui-g-3 pb-0">
            <p-dropdown
              [(ngModel)]="filtro.tipoReporte"
              [options]="itemsTiposReporte"
              [filter]="itemsTiposReporte && itemsTiposReporte.length > 6"
              name="ftiporeporte"
              [showClear]="true"
              emptyFilterMessage="No hay tipos de reporte"
              title="Filtro por tipo de reporte"
              styleClass="w-100 dropdown-app">
            </p-dropdown>
          </div>
  
  
          <!-- btn limpiar - filtrar -->
          <div class="ui-g-3 pb-0 text-right pr-0">
            <button
              (click)="limpiar()"
              class="btn-less-movimientos mr-2"
              type="button"
              title="Limpia los filtros de búsqueda ingresados">
                <label class="btn-label-limpiar"> Limpiar</label>
                <i class="fa fa-times btn-icon-limpiar pl-1"></i>
            </button>
            <button
              (click)="filtrar()"
              class="btn-light-dark-movimientos"
              type="button"
              title="Filtra los movimientos de acuerdo a los criterios">
                <label class="btn-label"> Filtrar</label>
                <i class="fa fa-search btn-icon pl-1"></i>
            </button>
          </div>
        </div>
      </ng-container>
      <div class="ui-g-12 barra ml-3 mr-3 pt-1"></div>
  
      <!-- tabla movimientos -->
      <div [ngClass]="{ 'd-none': !hayPrimerFiltro }" class="ui-g-12 ml-2 mr-2">
        <p-table
          id="tblmovimientos"
          #tblmovimientos
          [value]="movimientos.registros"
          (onPage)="movimientos.scrollerListener($event)"
          [totalRecords]="movimientos.datos.cantidadTotal"
          alwaysShowPaginator="true"
          [rowsPerPageOptions]="movimientos.rowsPerPageOptionsMovimientos"
          [rows]="movimientos.rowsDefault"
          [responsive]="true"
          [paginator]="true"
          [lazy]="true"
          [showCurrentPageReport]="true"
         
          currentPageReportTemplate="{{ movimientos.pageReport }}"
          styleClass="tbl-app">
  
          <ng-template pTemplate="header">
            <tr class="text-center">
              <th style="width: 30%; border: none; background-color: #F8F9FA;">Producto</th>
              <th style="width: 30%; border: none; background-color: #F8F9FA;">Transacción</th>
              <th style="width: 15%; border: none; background-color: #F8F9FA;">Fecha</th>
              <th style="width: 10%; border: none; background-color: #F8F9FA;">Hora</th>
              <th style="width: 15%; border: none; background-color: #F8F9FA;">Valor</th>
            </tr>
          </ng-template>
  
          <ng-template pTemplate="body" let-trans>
            <tr>
              <td class="text-left" style="width: 30%; background-color: #ffffff; border: none;  border-bottom: 1px solid #ccc;">{{ trans.nombreProducto }}</td>
              <td class="text-left" style="width: 30%; background-color: #ffffff; border: none;  border-bottom: 1px solid #ccc; text-align-last: center">{{ trans.codigoTransaccion }}</td>
              <td class="text-left" style="width: 15%; background-color: #ffffff; border: none;  border-bottom: 1px solid #ccc; text-align-last: center">{{ trans.fecha}}</td>
              <td class="text-left" style="width: 10%; background-color: #ffffff; border: none;  border-bottom: 1px solid #ccc; text-align-last: center">{{ trans.hora | hora24}}</td>
              <td class="text-left" style="width: 15%; background-color: #ffffff; border: none;  border-bottom: 1px solid #ccc; text-align-last: center">{{ trans.valorTransaccion| currency: "CAD":"symbol-narrow":".0-0" }}</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="footer">
            <tr>
              <td style="width: 30%; background-color: #F8F9FA; border: none;"></td>
              <td style="width: 30%; background-color: #F8F9FA; border: none;"></td>
              <td style="width: 15%; background-color: #F8F9FA; border: none;"></td>
              <td style="width: 10%; background-color: #F8F9FA; border: none;">Total</td>
              <td style="width: 15%; background-color: #F8F9FA; border: none;">{{ sumValTotal| currency: "CAD":"symbol-narrow":".0-0" }}</td>
            </tr>
        </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td [attr.colspan]="6">
                <div class="mr-2 ml-2 mt-2 mb-2 ui-messages ui-messages-info ui-corner-all p-2">
                  <span class="ui-messages-icon pi pi-info-circle"></span>
                  <span class="ui-messages-detail font-size-15 mt-1">
                    <strong>No se encontraron MOVIMIENTOS</strong> que coincidan con los criterios de filtro de búsqueda ingresado
                  </span>
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
  
      <!-- mensaje ingrese primer filtro -->
      <div *ngIf="!hayPrimerFiltro" class="ui-g-12 m-3 p-2 ui-messages ui-messages-info ui-corner-all text-center">
        <span class="ui-messages-icon pi pi-info-circle"></span>
        <span class="ui-messages-detail font-size-15 ml-0 mt-1">
          Haz click en el botón filtrar para <strong>consultar los MOVIMIENTOS</strong>
        </span>
      </div>
    </div>
  </div>
  
  